﻿@*@inherits MudTabPanel *@

<MudTabPanel Text="@_text">
    <MudText>Content One</MudText>
</MudTabPanel>

@code {
    private string _text = "";

    public DemoTabPanel()
    {
        _text = "Tab One";
    }

}
