﻿<MudTabs Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6">
    @foreach (var panel in Panels)
    {
        <DynamicComponent Type="@panel.GetType()" />
    }
</MudTabs>

@code {

    [Parameter]
    public IEnumerable<DemoTabPanel> Panels { get; set; } = new DemoTabPanel[0];

    public TabPanelExpanded()
    {
        Panels = new List<DemoTabPanel>
        {
            new DemoTabPanel(),
            new DemoTabPanel(),
        };
    }
}
