﻿@using System.Globalization
@using DMTGui.Client.Utils
@using DMTGui.Shared.Utils
@using System.Collections

@inject ClipboardService ClipboardService
@inject ISnackbar Snackbar

@typeparam TModel 

<MudPaper Elevation=0>
    @foreach (var item in GetModelItems(Item))
    {
        if (!string.IsNullOrEmpty(item.Content))
        {
            <MudPaper Elevation=0 Class="pt-4">
                <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                    <MudText Typo="Typo.caption">@item.Label</MudText>

                    @if (CanCopyText)
                    {
                        <MudIconButton Size="Size.Small" Icon="@Icons.Filled.ContentCopy" OnClick="@(async () => await CopyTextAsync(item.Content))" />
                    }
                </div>
                <MudText>@item.Content</MudText>
            </MudPaper>
        }
    }
</MudPaper>

@code {
    /// <summary>
    /// Objekt na zobrazení 
    /// </summary>
    [Parameter]
    public TModel Item { get; set; }

    [Parameter]
    public bool CanCopyText { get; set; } = true;

    [Parameter]
    public IEnumerable<string> IgnoredItems { get; set; } = Array.Empty<string>();

    private async Task CopyTextAsync(string textToCopy)
    {
        await ClipboardService.CopyTextToClipboardAsync(textToCopy);

        Snackbar.Add("Text zkopírován!", Severity.Info);
    }

    private ModelItem[] GetModelItems(TModel item)
    {
        var values = ReflectionUtils.GetValuesFromModel<TModel>(item);

        return values
            .Where(val => !IgnoredItems.Contains(val.Name))
            .Select(val => new ModelItem { Label = val.Name, Content = FormatContent(val.Value) })
            .ToArray();
    }

    private static string FormatContent(object value)
    {
        if (value as IEnumerable<object> is not null)
        {
            var enumerable = value as IEnumerable<object>;
            var formatedEnumerable = string.Join(", ", enumerable.Select(val => val.ToString()));

            return formatedEnumerable;
        }

        return value.ToString();
    }

    struct ModelItem
    {
        public string Label { get; set; }
        public string Content { get; set; }
    }
}
