﻿@using System.Text.RegularExpressions
@using System.Xml
@using DMTGui.Client.Extensions
@using DMTGui.Client.Models
@using DMTGui.Client.MonacoOperations
@using DMTGui.Shared.Extensions

@inject ILogger<MonacoEditorExpanded> Logger

<MonacoEditor @ref="_monacoEditor"
              Id="any-id-string"
              ConstructionOptions="EditorConstructionOptions"
              OnDidChangeModelContent="@OnDidChangeModelContentEvent" />

@code {
    private MonacoEditor _monacoEditor;
    private MonacoOperationProcessor _operationProcessor;

    [Parameter]
    public EventCallback<ModelContentChangedEvent> OnDidChangeModelContent { get; set; }

    /// <summary>
    /// Vrátí pouze textovou část upravovaného textu v editoru.
    /// </summary>
    public async Task<string> GetValueAsync()
    {
        return await _monacoEditor.GetValue();
    }

    /// <summary>
    /// Nastaví předanou hodnotu jako text v editoru.
    /// </summary>
    public async Task SetValueAsync(string valueToSet)
    {
        await _monacoEditor.SetValue(valueToSet);
    }

    /// <summary>
    /// Resetuje varování, která byla inheritdoc editoru přidána.
    /// </summary>
    public async Task ResetWarningsAsync()
    {
        await _monacoEditor.ResetDeltaDecorations();
    }

    /// <summary>
    /// Přidá varování, která jsou následně vidět v editoru
    /// </summary>
    public async Task AddWarningsAsync(IEnumerable<ValidatorWarning> warnings)
    {
        var warningDecorations = new List<ModelDeltaDecoration>();

        foreach (var warning in warnings)
        {
            Logger.LogDebug(warning.Message);

            warningDecorations.Add(warning.ConvertToDecoration());
        }

        var decorationIds = await _monacoEditor.DeltaDecorations(null, warningDecorations.ToArray());
    }

    /// <summary>
    /// Přesune kurzou virtual editoru na místo varování z
    /// </summary>
    public async Task GoToWarningAsync(ValidatorWarning warning)
    {
        var warningRange = new BlazorMonaco.Range(
            warning.Postition.StartLineNumber,
            warning.Postition.StartLinePosition,
            warning.Postition.EndLineNumber,
            warning.Postition.EndLinePosition);

        await _monacoEditor.SetSelection(warningRange);
        await _monacoEditor.Focus();
        await _monacoEditor.RevealLine(warning.Postition.StartLineNumber);
    }

    /// <summary>
    /// Přesune kurzo
    /// </summary>
    /// <param name="lineNumber"></param>
    /// <returns></returns>
    public async Task GoToLine(int lineNumber)
    {
        var range = new BlazorMonaco.Range(lineNumber, 0, lineNumber, 0);

        await _monacoEditor.SetSelection(range);
        await _monacoEditor.Focus();
        await _monacoEditor.RevealLine(lineNumber);
    }

    public void AddMonacoOperationProcessor(MonacoOperationProcessor operationProcessor)
    {
        _operationProcessor = operationProcessor;
    }

    private async Task OnDidChangeModelContentEvent(ModelContentChangedEvent modelContentChangedEvent)
    {
        if (_operationProcessor is not null)
        {
            Logger.LogDebug("Zpracovávám monaco operace");

            var value = await _monacoEditor.GetValue();
            var edits = _operationProcessor.ApplyOperations(modelContentChangedEvent, value); 

            await _monacoEditor.ExecuteEdits("", edits, new List<Selection>());
        }
        
        await OnDidChangeModelContent.InvokeAsync();
    }


    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        var lightbulbOptions = new EditorLightbulbOptions
        {
            Enabled = true
        };

        var constructionOptions = new StandaloneEditorConstructionOptions
        {
            GlyphMargin = true,
            AutoIndent = true,
            AutomaticLayout = true,
            Language = "xml",
            Value = "",
            RenderControlCharacters = true,
            Lightbulb = lightbulbOptions,
            //AutoClosingBrackets = "<>",
            //AutoClosingQuotes = "\"",
        };

        return constructionOptions;
    }

}
