﻿
<MudMenuItem OnClick="@OnClick">
    @if(IsChecked)
    {
        <MudIcon Style="float: left" Icon="@Icons.Filled.Check" />
        <MudText Style="float: right; padding-left: 10px">@Text</MudText>
    }
    else
    {
        <MudText>@Text</MudText>   
    }
</MudMenuItem>



@code {
    /// <summary>
    /// Event na spuštění po kliknutí na item
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    /// <summary>
    /// Text itemu
    /// </summary>
    [Parameter]
    public string Text { get; set; } = "Item";

    /// <summary>
    /// Příznak, zda je item zaškrtnutý
    /// </summary>
    [Parameter]
    public bool IsChecked { get; set; }

}
