﻿@using DMTGui.Client.Utils
@using DMTGui.Shared.Utils
@using System.Globalization

<MudDialog>
    <DialogContent>
        <MudForm @bind-IsValid="@_isValid">
            @*<MudText>Vyplňte hodnoty cronu</MudText>*@

            <MudTextField @ref="_cronTextField" @bind-Value="@_cronFieldValue" 
                Label="Cron"
                HelperText="(minuta) (hodina) (den v měsíci) (měsíc) (den v týdnu) (volitelně: rok)"
                Placeholder="@_cronPlaceholderValue" 
                FullWidth="true" 
                AutoFocus="true"
                Validation="ValidateCrontab" 
                Immediate="true" />

            <MudTextField @ref="_descTextField" @bind-Value="@_descFieldValue" 
                Label="Popis"
                Placeholder="@_descPlaceholderValue" 
                FullWidth="true"
                Validation="ValidateDescription" 
                Immediate="true" />
             
            <MudPaper Elevation=0 Class="pt-4">
                <MudText Typo="Typo.caption" >Aktuální hodnota:</MudText>
                <MudText>@FormatCronForHumans(_cronFieldValue)</MudText>
            </MudPaper>

            <MudPaper Elevation=0 Class="pt-4">
                <MudText Typo="Typo.caption" Class="pt-4">Nejbližší spuštění:</MudText>
                <MudText>@FormatCronNextOccurrence(_cronFieldValue)</MudText>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Zrušit</MudButton>
        <MudButton OnClick="Submit" ButtonType="ButtonType.Submit" Disabled="@(!_isValid)" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private bool _isValid = false;

    private MudTextField<string> _cronTextField;
    private string _cronFieldValue;
    private string _cronPlaceholderValue;

    private MudTextField<string> _descTextField;
    private string _descFieldValue;
    private string _descPlaceholderValue;

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Defaultní hodnota CRONu, která se automaticky předvyplní
    /// </summary>
    [Parameter]
    public string DefaultCronValue { get; set; }

    [Parameter]
    public string DefaultDescription { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _cronFieldValue = string.IsNullOrEmpty(DefaultCronValue) ? "* * * * *" : DefaultCronValue;
        _cronPlaceholderValue = "Zadejte cron";

        _descFieldValue = string.IsNullOrEmpty(DefaultDescription) ? "" : DefaultDescription;
        _descPlaceholderValue = "Zadejte popis cronu...";
    }

    private void Submit()
    {
        MudDialog.Close(DialogResult.Ok(Tuple.Create<string, string>(_cronFieldValue, _descFieldValue)));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private string ValidateCrontab(string cronString)
    {
        if (string.IsNullOrEmpty(cronString))
        {
            return "Je nutné vyplnit cron nastavení!";
        }

        if (!CronUtils.CheckIsCronValid(cronString, out var message))
        {
            return message;
        }

        return null;
    }

    private string ValidateDescription(string description)
    {
        if (description?.Length > 1024)
        {
            return "Hodnota je větší než 1024 znaků!";
        }

        return null;
    }


    private string FormatCronNextOccurrence(string cronString)
    {
        if (!CronUtils.CheckIsCronValid(cronString, out _))
            return "Nevalidní";

        var nextOccurence = CronUtils.GetCrontabNextOccurrence(cronString, DateTime.Now);
        if (nextOccurence is null)
            return "Nikdy";
        
        return nextOccurence.Value.ToString(CultureInfo.CurrentCulture);
    }

    private string FormatCronForHumans(string cronString)
    {
        if (!CronUtils.CheckIsCronValid(cronString, out _))
            return "Nevalidní";

        var humanReadableCron = CronUtils.GetHumanReadableCron(cronString);

        return humanReadableCron ?? "Nevalidní";
    }
}
