﻿@using DMTGui.Client.Extensions
@using DMTGui.Client.Services.Api
@using DMTGui.Client.Utils
@using DMTGui.Shared.Extensions
@using System.Text
@using DMTGui.Shared.Contracts

@inject ILogger<DictionaryImportDialog> Logger
@inject ISnackbar Snackbar

@inject IDictionaryContract DictionaryService;

@inject EncodingService EncodingService

<MudDialog>
    <DialogContent>

        <MudForm @bind-IsValid="@_isValid">
            <MudPaper Elevation=0>
                @*<MudText Typo="Typo.caption">Název slovníku</MudText>*@
                <MudTextField T="string" Label="Název slovníku" @bind-Text="@_dictionaryName" Validation="CheckNameIsValid"></MudTextField>
            </MudPaper>
        </MudForm>

        <MudPaper Elevation=0 Class="pt-4">
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText>Vynechat prázdné hodnoty</MudText>
                <MudCheckBox T="bool" @bind-Checked="@_skipEmpty"></MudCheckBox>
            </div>
        </MudPaper>

        <MudPaper Elevation=0 Class="pt-4">
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText>Načíst popisky</MudText>
                <MudCheckBox T="bool" @bind-Checked="@_containsDescription"></MudCheckBox>
            </div>
        </MudPaper>

        <MudPaper Elevation=0 Class="pt-4">
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText>Encoding</MudText>

                <div style="width: 200px">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_encoding" FullWidth="false">
                        @foreach(var encoding in _availableEncodings)
                        {
                            <MudSelectItem Value="encoding" />
                        }
                    </MudSelect>
                </div>
            </div>
        </MudPaper>

        <MudPaper Elevation=0 Class="pt-4">
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText>Oddělovač</MudText>

                <div style="width: 50px">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_delimiter" FullWidth="false">
                        <MudSelectItem Value="@(";")" />
                        <MudSelectItem Value="@(",")" />
                        <MudSelectItem Value="@("|")" />
                    </MudSelect>
                </div>
            </div>
        </MudPaper>

        <MudPaper Elevation=0 Class="pt-4">
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Class="pb-4 bold"><b>Preview slovníku</b></MudText>
                <MudIconButton Icon="@Icons.Filled.Refresh" OnClick="LoadPreviewAsync"></MudIconButton>
            </div>            

            <MudTable T="DictionaryEntryDto" Items="@_dictionary.Entries" Dense="true" Height="50vh" FixedFooter="true" FixedHeader="true">
                @*<ColGroup>
                    <col style="width: 150px;" />
                </ColGroup>*@
                <HeaderContent>
                    @foreach (var header in _tableHeaders)
                    {
                        <MudTh>@header</MudTh>
                    }
                </HeaderContent>
                <RowTemplate>
                    @foreach (var header in _tableHeaders)
                    {
                        <MudTd DataLabel="@header">
                            @if (header == "Klíč")
                            {
                                <MudTooltip Text="@context.Description">
                                    <MudText>@context.Key</MudText>
                                </MudTooltip>
                            }
                            else
                            {
                                <MudTooltip Text="@PropertyDescription(context, header)">
                                    <MudText>@PropertyValue(context, header)</MudText>
                                </MudTooltip>
                            }
                        </MudTd>
                    }
                </RowTemplate>
                <NoRecordsContent>
                    Nic tu není :(
                </NoRecordsContent>
            </MudTable>
        </MudPaper>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Default">Zrušit</MudButton>

        @*<MudButton StartIcon="@Icons.Filled.Save" OnClick="Submit" Color="Color.Primary" Variant="Variant.Filled">Uložit</MudButton>*@
        @if (_isFinished)
        {
            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Check"/>
        }
        else if (_isLoading)
        {
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true"/>
        }
        else
        {
            <MudButton ButtonType="ButtonType.Submit" Disabled="@(!_isValid)" StartIcon="@Icons.Filled.Save" OnClick="SubmitAsync" Color="Color.Primary" Variant="Variant.Filled">Uložit</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {
    private bool _isValid = false;

    private int _previewCount = 10;
    private bool _isFinished = false;
    private bool _isLoading = false;

    private bool _skipEmpty = true;
    private bool _containsDescription = false;
    private string _delimiter = ";";
    private string _encoding = "";

    private IEnumerable<string> _tableHeaders = new string[0];

    private DictionaryDto _dictionary = new DictionaryDto();
    private string _dictionaryName = "";

    private IEnumerable<string> _availableEncodings = new string[0];
    private IEnumerable<DictionaryDto> _dictionaries = new DictionaryDto[0];

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Soubor, který se má naimportovat jako nový slovník
    /// </summary>
    [Parameter]
    public IBrowserFile File { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            _dictionaries = await DictionaryService.GetAll();

            _availableEncodings = EncodingService.GetAvailableEncodingNames();
            _encoding = _availableEncodings.FirstOrDefault() ?? "";

            _dictionaryName = Path.GetFileNameWithoutExtension(File.Name);

            await LoadPreviewAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadPreviewAsync()
    {
        try
        {
            var encoding = EncodingService.GetEncodingByName(_encoding);
            var fileText = await File.ReadTextAsync(encoding);

            _dictionary = await DictionariesUtils.ParseDictionaryFromCsvAsync(fileText, _dictionaryName, _previewCount, _skipEmpty, _containsDescription, _delimiter, encoding);
            _tableHeaders = GetHeadersFromDictionary(_dictionary);
        }
        catch(Exception ex)
        {
            Snackbar.Add("Nastala chyba při zpracování slovníku", Severity.Error);
            Logger.LogError(ex, "Nastala chyba při zpracování slovníku");

            if (_dictionary is not null)
            {
                _dictionary.Entries = new DictionaryEntryDto[0];
            }
        }

        StateHasChanged();
    }

    private async Task<DictionaryDto> ParseDictionaryFromFileAsync(string dictionaryName)
    {
        var encoding = EncodingService.GetEncodingByName(_encoding);
        var fileText = await File.ReadTextAsync(encoding);

        var dictionary = await DictionariesUtils.ParseDictionaryFromCsvAsync(fileText, dictionaryName, int.MaxValue, _skipEmpty, _containsDescription, _delimiter, encoding);

        return dictionary;
    }

    private string CheckNameIsValid(string dictionaryName)
    {
        if (string.IsNullOrWhiteSpace(_dictionaryName))
        {
            return "Jméno slovníku není validní";
        }

        if (_dictionaries.Any(dic => dic.Name == _dictionaryName))
        {
            return "Slovník s takovým jménem už existuje";
        }

        return null;
    }

    private async Task OnCheckedChanged(bool value)
    {
        await LoadPreviewAsync();
    }

    private static string[] GetHeadersFromDictionary(DictionaryDto dictionary)
    {
        var headers = new[] { "Klíč" };

        if (dictionary is null)
            return headers;

        var distinctProperties = dictionary.Entries
            .SelectMany(ent => ent.Properties)
            .Select(ent => ent.Key)
            .Distinct()
            .ToArray();

        headers = headers
            .AppendRange(distinctProperties)
            .ToArray();

        return headers;
    }

    private async Task<bool> SaveDictionaryAsync()
    {
        var message = CheckNameIsValid(_dictionaryName);

        if (!string.IsNullOrEmpty(message))
        {
            Snackbar.Add(message, Severity.Error);
            return false;
        }

        try
        {
            var dictionary = await ParseDictionaryFromFileAsync(_dictionaryName);

            await DictionaryService.Add(dictionary);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Nastala chyba při ukládání slovníku");

            Snackbar.Add("Nastala chyba při ukládání slovníku", Severity.Error);

            return false;
        }

        return true;
    }

    private async Task SubmitAsync()
    {
        _isLoading = true;
        StateHasChanged();

        var result = await SaveDictionaryAsync();

        _isLoading = false;
        StateHasChanged();

        if (!result) return;

        _isFinished = true;
        StateHasChanged();
        await Task.Delay(250);

        MudDialog.Close(DialogResult.Ok(_dictionaryName));
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    private static string PropertyValue(DictionaryEntryDto entry, string propertyName)
    {
        var property = entry.Properties?.FirstOrDefault(prt => prt.Key == propertyName);

        return property?.Value ?? "";
    }

    private static string PropertyDescription(DictionaryEntryDto entry, string propertyName)
    {
        var property = entry.Properties?.FirstOrDefault(prt => prt.Key == propertyName);

        return property?.Descripton ?? null;
    }
}
