﻿<MudDialog>
    <DialogContent>
        <MudForm @ref="@_form" @bind-IsValid="@_isValid">
            <MudText><b>Informace o hodnotě</b></MudText>
            <MudPaper Class="d-flex align-center flex-grow-1 gap-4" Elevation="0">
                <MudTextField @bind-Value="@_entryName" Label="Název hodnoty" AutoFocus="true" Immediate="true" Class="pr-2" Validation="ValidateNotEmpty" />
                <MudTextField @bind-Value="@_entryDescription" Label="Popis hodnoty" Immediate="true" Class="pl-2" />
            </MudPaper>

            @if (_entryProperties.Count > 0)
            {
                <MudText Class="mt-8"><b>Položky</b></MudText>

                @foreach (var property in _entryProperties)
                {
                    <MudPaper Class="d-flex align-center flex-grow-1 gap-4" Elevation="0">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveValue(property))" />

                        <MudTextField @bind-Value="property.Key" Label="Název položky" FullWidth="true" Immediate="true" Class="pr-2" Validation="ValidateNotEmpty" />
                        <MudTextField @bind-Value="property.Value" Label="Hodnota položky" Immediate="true" FullWidth="true" Class="pr-1 pl-1" />
                        <MudTextField @bind-Value="property.Descripton" Label="Popis položky" Immediate="true" FullWidth="true" Class="pl-2" />
                    </MudPaper>
                }
            }

        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="AddValue" Color="Color.Success" Variant="Variant.Filled">Přidat položku</MudButton>
        <MudSpacer />
        <MudButton OnClick="Cancel" Color="Color.Default" Variant="Variant.Filled">Zrušit</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Save" OnClick="SubmitAsync" Disabled="@(!_isValid)"  Color="Color.Primary" Variant="Variant.Filled">Uložit</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public DictionaryEntryDto Entry { get; set; }

    private MudForm _form;

    private string _entryName = "";
    private string _entryDescription = "";
    private List<DictionaryEntryPropertyDto> _entryProperties = new();

    private bool _isValid = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && Entry is not null)
        {
            _entryName = Entry.Key;
            _entryDescription = Entry.Description;
            _entryProperties = Entry.Properties?.ToList() ?? new();
        }

        base.OnAfterRender(firstRender);
    }

    private void AddValue()
    {
        _entryProperties.Add(new DictionaryEntryPropertyDto());
        StateHasChanged();
    }

    private void RemoveValue(DictionaryEntryPropertyDto property)
    {
        _entryProperties.Remove(property);
        StateHasChanged();
    }

    async Task SubmitAsync()
    {
        await _form.Validate();
        if (!_isValid)
            return;

        var result = new DictionaryEntryDto
        {
            Key = _entryName,
            Description = _entryDescription,
            Properties = _entryProperties.ToArray()
        };

        MudDialog.Close(DialogResult.Ok(result));
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    private string ValidateNotEmpty(string text)
    {
        if (string.IsNullOrEmpty(text))
            return "Hodnota nempůže být prázdná!";

        return null;
    }

}
