﻿@using System.Globalization
@using DMTGui.Client.Utils
@using DMTGui.Shared.Utils

@inject ClipboardService ClipboardService
@inject ISnackbar Snackbar

@typeparam TModel 

<MudDialog>
    <DialogContent>
        <ModelViewer TModel="TModel" Item="@Item" />
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Filled.Check" OnClick="Submit" Color="Color.Primary" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Objekt na zobrazení 
    /// </summary>
    [Parameter]
    public TModel Item { get; set; }

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    private async Task CopyTextAsync(string textToCopy)
    {
        await ClipboardService.CopyTextToClipboardAsync(textToCopy);

        Snackbar.Add("Text zkopírován!", Severity.Info);
    }

    private static ModelItem[] GetModelItems(TModel item)
    {
        var values = ReflectionUtils.GetValuesFromModel<TModel>(item);

        return values
            .Select(val => new ModelItem { Label = val.Name, Content = val.Value.ToString() })
            .ToArray();
    }

    struct ModelItem
    {
        public string Label { get; set; }
        public string Content { get; set; }
    }
}
