﻿<MudDialog>
    <DialogContent>@DialogMessage</DialogContent>
    <DialogActions>
        <MudButton StartIcon="@OkButtonIcon" OnClick="Submit" Color="@OkButtonColor" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Text na zobrazení
    /// </summary>
    [Parameter]
    public string DialogMessage { get; set; }

    /// <summary>
    /// Barva tlačítka na potrvzení
    /// </summary>
    [Parameter]
    public Color OkButtonColor { get; set; } = Color.Primary;

    /// <summary>
    /// Ikona tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public string OkButtonIcon { get; set; } = Icons.Material.Filled.Check;

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }
}
