﻿@typeparam TItem

<MudDialog>
    <DialogContent>
        <MudTable @ref="@_mudTable" T="TItem" Items="@Items" MultiSelection="@IsMultiSelect" SelectedItemChanged="RefreshSelected" SelectedItemsChanged="RefreshSelected">
            <RowTemplate>
                <MudTd DataLabel="Value">@context.ToString()</MudTd>
            </RowTemplate>
            <NoRecordsContent>
                Neexistuje žádná hodnota k výběru!
            </NoRecordsContent>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel"  Color="@CancelButtonColor">Zrušit</MudButton>
        <MudButton OnClick="Confirm" Disabled="@(!_isSomethingSelected)" StartIcon="@OkButtonIcon" Color="@OkButtonColor" Variant="Variant.Filled">Vybrat</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private bool _isSomethingSelected = false;

    private MudTable<TItem> _mudTable;

    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Seznam itemů, ze kterých bude probíhat výběr
    /// </summary>
    [Parameter] 
    public IEnumerable<TItem> Items { get; set; }

    /// <summary>
    /// Barva tlačíka na potvrzení
    /// </summary>
    [Parameter]
    public Color OkButtonColor { get; set; } = Color.Primary;

    /// <summary>
    /// Ikona tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public string OkButtonIcon { get; set; } = Icons.Material.Filled.Check;

    /// <summary>
    /// Barva tlačítka na zručení
    /// </summary>
    [Parameter]
    public Color CancelButtonColor { get; set; } = Color.Secondary;

    /// <summary>
    /// Příznak, zda je možné zaškrtnout více itemů
    /// </summary>
    [Parameter]
    public bool IsMultiSelect { get; set; } = false;
    
    private void Confirm()
    {
        object resultData = null;
        if (IsMultiSelect)
        {
            resultData = _mudTable.SelectedItems;
        }
        else
        {
            resultData = _mudTable.SelectedItem;
        }
        
        MudDialog.Close(DialogResult.Ok(resultData));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void RefreshSelected()
    {
        _isSomethingSelected = _mudTable.SelectedItems.Count > 0;
    }
}