﻿@using DMTGui.Client.Models
@using DMTGui.Shared.Extensions

@inject ILocalStorage LocalStorage

<MudDialog>
    <DialogContent>

        <MudGrid Spacing="2" Justify="Justify.Center">
            <MudItem xs="4">
                <MudText Typo="Typo.h5">Výběr</MudText>

                <MudTable @ref="@_mudTable" T="LogFilterEntry" Items="@_filterData.Entries"
                          MultiSelection="false" SelectedItemChanged="RefreshSelected" SelectedItemsChanged="RefreshSelected"
                          RowClassFunc="@((item, index) => GetSelectedClass(_mudTable.SelectedItem, item, "table-row-selected"))">

                    <RowTemplate>
                        <MudTd DataLabel="Value">@FormatFilterLabel(context)</MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        Žádný filter neexistuje
                    </NoRecordsContent>
                </MudTable>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h5">@FormatFilterTitle(_mudTable.SelectedItem)</MudText>
                <MudPaper Elevation="0">
                    @if (@_mudTable?.SelectedItem is not null)
                    {
                        <ModelViewer TModel="LogSearchDto" Item="@(_mudTable.SelectedItem.Search)" IgnoredItems="@(new [] {"Skip","Take"})" />
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">Není vybraný filter</MudText>
                    }
                </MudPaper>
            </MudItem>
        </MudGrid>



    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DeleteAsync" Disabled="@(!_isSomethingSelected)" StartIcon="@Icons.Filled.Delete" Color="Color.Error" Variant="Variant.Filled">Smazat filtr</MudButton>
        <MudSpacer />
        <MudButton OnClick="Cancel" Color="Color.Default">Zrušit</MudButton>
        <MudButton OnClick="Confirm" Disabled="@(!_isSomethingSelected)" StartIcon="@Icons.Filled.Check" Color="Color.Primary" Variant="Variant.Filled">Vybrat</MudButton>
    </DialogActions>
</MudDialog>

@code {
    public const string LogsFilterDataName = "FilterData";

    private bool _isSomethingSelected = false;

    private MudTable<LogFilterEntry> _mudTable;

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Příznak, zda je možné zaškrtnout více itemů
    /// </summary>
    [Parameter]
    public bool IsMultiSelect { get; set; } = false;

    private LogsFilterData _filterData = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _filterData = await LocalStorage.GetValueAsync<LogsFilterData>(LogsFilterDataName, new());
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task DeleteAsync()
    {
        var selected = _mudTable.SelectedItem;

        if (selected is null)
            return;

        _filterData.Entries = _filterData.Entries.SkipItem(selected).ToArray();
        await LocalStorage.SetValueAsync(LogsFilterDataName, _filterData);

        _mudTable.SetSelectedItem(null);

        RefreshSelected();
    }

    private void Confirm()
    {
        var selectedItem = _mudTable.SelectedItem;

        MudDialog.Close(DialogResult.Ok(selectedItem));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void RefreshSelected()
    {
        _isSomethingSelected = _mudTable.SelectedItems.Count > 0;
    }

    private static string GetSelectedClass<TValue>(TValue selectedItem, TValue item, string className)
    {
        if (selectedItem is null || item is null)
            return "";

        if (selectedItem.Equals(item))
            return className;

        return "";
    }

    private static string FormatFilterTitle(LogFilterEntry entry)
    {
        if (entry is null)
            return "Vybraný filtr";

        return $"Vybraný filtr: {entry.Name}";
    }

    private static string FormatFilterLabel(LogFilterEntry entry)
    {
        return entry.Name;
    }
}