﻿@using DMTGui.Client.Extensions
@using DMTGui.Shared.Contracts

@inject IStatisticsContract StatisticsService
@inject IJobContract JobContract 

<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h5" Class="pb-4">@FormatTitle(_job)</MudText>
        @if (_isLoading)
        {
            <MudPaper Elevation=0 Class="pt-2">
                <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                    <MudText Typo="Typo.body1">Načítám statistiku... </MudText>
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                </div>
            </MudPaper>
        }
        else if (_isloaded)
        {
            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Typo="Typo.body1">Celkový počet zpracovaných objektů:</MudText>
                <MudText Typo="Typo.body1">@GetStatsAllSum(_statistics)</MudText>
            </div>

            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Typo="Typo.body1">Celkový počet správných objektů:</MudText>
                <MudText Typo="Typo.body1">@GetStatsSuccessSum(_statistics)</MudText>
            </div>

            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Typo="Typo.body1">Celkový počet chybných objektů:</MudText>
                <MudText Typo="Typo.body1">@GetStatsErrorSum(_statistics)</MudText>
            </div>

            <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Typo="Typo.body1">Průměrná rychlost na objekt:</MudText>
                <MudText Typo="Typo.body1">@FormatToSeconds(GetAverageSpeed(_statistics))</MudText>
            </div>
        }
        else
        {
            <MudPaper Elevation=0 Class="pt-4">
                <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                    <MudText Typo="Typo.body1">Nepodařilo se načíst statistiku</MudText>
                </div>
            </MudPaper>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Ok" Color="Color.Primary" Variant="Variant.Filled">Ok</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string JobId { get; set; }

    private bool _isLoading = false;
    private bool _isloaded = false;

    private IEnumerable<MigrationStatisticsDto> _statistics = Array.Empty<MigrationStatisticsDto>();
    private JobDto _job = new();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isLoading = true;
            StateHasChanged();

            await LoadJobAsync();
            _isloaded = await LoadStatisticsAsync();

            _isLoading = false;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<bool> LoadStatisticsAsync()
    {
        var result = await StatisticsService.Get(JobId).TryInvoke();

        if (result.Success && result.Result is not null)
        {
            _statistics = new[] { result.Result };
        }

        return result.Success;
    }

    private async Task LoadJobAsync()
    {
        var result = await JobContract.Get(JobId).TryInvoke();

        if (result.Success && result.Result is not null)
        {
            _job = result.Result;
        }
    }

    private void Ok()
    {
        MudDialog.Close();
    }

    private static long GetStatsAllSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.Count);
    }

    private static long GetStatsSuccessSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.SuccessfullCount);
    }

    private static long GetStatsErrorSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.WrongCount);
    }

    private static TimeSpan GetAverageSpeed(IEnumerable<MigrationStatisticsDto> stats)
    {
        var manyTicks = stats
            .SelectMany(sta => sta.Days)
            .Select(sta => sta.SuccessfullSpeed.Ticks)
            .ToArray();

        var averageTicks = manyTicks.Length == 0 ? 0 : (long)manyTicks.Average();

        return TimeSpan.FromTicks(averageTicks);
    }

    private static string FormatToSeconds(TimeSpan span)
    {
        return $"{span.TotalSeconds:0.00}s";
    }

    private static string FormatTitle(JobDto job)
    {
        if (job is null)
            return "Úloha";

        return $"{job.Name}";
    }
}
