﻿<MudDialog>
    <DialogContent>
        <MudForm @bind-IsValid="@_isValid">
            <MudText>@DialogMessage</MudText>
            
            <MudTextField @ref="_firstTextField" @bind-Value="@_firstFieldValue" Label="@FirstLabel"
                          Placeholder="@_firstPlaceholderValue" FullWidth="true" AutoFocus="true" 
                          Validation="OnFirstSubmitValidation" Immediate="true" />

            <MudTextField @ref="_secondTextField" @bind-Value="@_secondFieldValue"  Label="@SecondLabel"
                          Placeholder="@_secondPlaceholderValue" FullWidth="true"
                          Validation="OnSecondSubmitValidation" Immediate="true" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Zrušit</MudButton>
        @if (_isFinished)
        {
            <MudIcon Color="@OkButtonColor" Icon="@Icons.Material.Filled.Check"/>
        }
        else if (_isLoading)
        {
            <MudProgressCircular Color="@OkButtonColor" Size="Size.Small" Indeterminate="true"/>
        }
        else
        {
            <MudButton ButtonType="ButtonType.Submit" Disabled="@(!_isValid)" StartIcon="@OkButtonIcon" OnClick="SubmitAsync" Color="@OkButtonColor" Variant="Variant.Filled">OK</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {
    private bool _isValid = false;
    private bool _isLoading = false;
    private bool _isFinished = false;

    private MudTextField<string> _firstTextField;
    private string _firstFieldValue;
    private string _firstPlaceholderValue;

    private MudTextField<string> _secondTextField;
    private string _secondFieldValue;
    private string _secondPlaceholderValue;

    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Zpráva dialogu
    /// </summary>
    [Parameter]
    public string DialogMessage { get; set; } = "Vyplňte hodnoty";

    /// <summary>
    /// Hodnota prvního labelu
    /// </summary>
    [Parameter]
    public string FirstLabel { get; set; } = "První hodnota";

    /// <summary>
    /// Hodnotu druhého labelu
    /// </summary>
    [Parameter]
    public string SecondLabel { get; set; } = "Druhá hodnota";

    /// <summary>
    /// Původní text prvního textboxu
    /// </summary>
    [Parameter]
    public string FirstOriginalText { get; set; } = "";

    /// <summary>
    /// Původní text druhého textboxu
    /// </summary>
    [Parameter]
    public string SecondOriginalText { get; set; } = "";

    /// <summary>
    /// Barva tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public Color OkButtonColor { get; set; } = Color.Primary;

    /// <summary>
    /// Ikona tlačátka na potvrzení
    /// </summary>
    [Parameter]
    public string OkButtonIcon { get; set; } = Icons.Material.Filled.Check;

    /// <summary>
    /// Funkce, která sealed provede na potvrzení.
    /// </summary>
    [Parameter]
    public Func<Tuple<string, string>, Task<bool>> OnSubmit { get; set; }

    /// <summary>
    /// Validace prvního textboxu před potvrzením
    /// </summary>
    [Parameter]
    public Func<string, string> OnFirstSubmitValidation { get; set; }

    /// <summary>
    /// Validace druhého textboxu před potvrzením
    /// </summary>
    [Parameter]
    public Func<string, string> OnSecondSubmitValidation { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _firstPlaceholderValue = string.IsNullOrEmpty(FirstOriginalText) ? "Zadejte hodnotu..." : FirstOriginalText;
        _firstFieldValue = FirstOriginalText;

        _secondPlaceholderValue = string.IsNullOrEmpty(SecondOriginalText) ? "Zadejte hodnotu..." : SecondOriginalText;
        _secondFieldValue = SecondOriginalText;
    }

    private async Task SubmitAsync() 
    {
        if (OnSubmit is null)
        {
            MudDialog.Close(DialogResult.Ok(Tuple.Create<string, string>(_firstFieldValue, _secondFieldValue)));
            return;
        }

        // Animace změny pro uživatele
        _isLoading = true;
        var result = await OnSubmit.Invoke(Tuple.Create<string, string>(_firstFieldValue, _secondFieldValue));
        _isLoading = false;

        if (result)
        {
            _isFinished = true;
            StateHasChanged();
            await Task.Delay(250);

            MudDialog.Close(DialogResult.Ok(Tuple.Create<string, string>(_firstFieldValue, _secondFieldValue)));
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
