﻿<MudDialog>
    <DialogContent>
        <MudForm @bind-IsValid="@_isValid">
            <MudText>@DialogMessage</MudText>
            
            @*TextChanged="OnTextChanged" *@
            <MudTextField @ref="_mudTextField" @bind-Value="@_fieldValue" 
                          Placeholder="@_placeholderValue" FullWidth="true" AutoFocus="true" 
                          Validation="OnSubmitValidation" Immediate="true" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Zrušit</MudButton>
        @if (_isFinished)
        {
            <MudIcon Color="@OkButtonColor" Icon="@Icons.Material.Filled.Check"/>
        }
        else if (_isLoading)
        {
            <MudProgressCircular Color="@OkButtonColor" Size="Size.Small" Indeterminate="true"/>
        }
        else
        {
            <MudButton ButtonType="ButtonType.Submit" Disabled="@(!_isValid)" StartIcon="@OkButtonIcon" OnClick="SubmitAsync" Color="@OkButtonColor" Variant="Variant.Filled">OK</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {
    private bool _isValid = false;
    private bool _isLoading = false;
    private bool _isFinished = false;

    private MudTextField<string> _mudTextField;
    private string _fieldValue;
    private string _placeholderValue;

    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Zpráva na zobrazení
    /// </summary>
    [Parameter]
    public string DialogMessage { get; set; } = "Vyplňte hodnotu";

    /// <summary>
    /// Původní text v textboxu
    /// </summary>
    [Parameter]
    public string OriginalText { get; set; } = "";

    /// <summary>
    /// Barva tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public Color OkButtonColor { get; set; } = Color.Primary;

    /// <summary>
    /// Ikona tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public string OkButtonIcon { get; set; } = Icons.Material.Filled.Check;

    /// <summary>
    /// Metoda, která se spustí po potvrzení 
    /// </summary>
    [Parameter]
    public Func<string, Task<bool>> OnSubmit { get; set; }

    /// <summary>
    /// Validace zadaného textu před odeslání
    /// </summary>
    [Parameter]
    public Func<string, string> OnSubmitValidation { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _placeholderValue = string.IsNullOrEmpty(OriginalText) ? "Zadejte hodnotu..." : OriginalText;
        _fieldValue = OriginalText;
    }

    private async Task SubmitAsync() 
    {
        bool result = true;
        if (OnSubmit is not null)
        {
            // Animace změny pro uživatele
            _isLoading = true;
            result = await OnSubmit.Invoke(_fieldValue);
            _isLoading = false;
        }

        if (result)
        {
            _isFinished = true;
            StateHasChanged();
            await Task.Delay(250);

            MudDialog.Close(DialogResult.Ok(_fieldValue));
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
