﻿<MudDialog>
    <DialogContent>@DialogMessage</DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Ne</MudButton>
        <MudButton StartIcon="@YesButtonIcon" OnClick="Submit" Color="@YesButtonColor" Variant="Variant.Filled">Ano</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    /// <summary>
    /// Zpráva, která s v dialogu zobrazí
    /// </summary>
    [Parameter]
    public string DialogMessage { get; set; }

    /// <summary>
    /// Barva tlačítka na potvrzení 
    /// </summary>
    [Parameter]
    public Color YesButtonColor { get; set; } = Color.Primary;

    /// <summary>
    /// Ikona tlačítka na potvrzení
    /// </summary>
    [Parameter]
    public string YesButtonIcon { get; set; } = Icons.Material.Filled.Check;

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }
}
