﻿@using DMTGui.Client.Utils
@inherits LayoutComponentBase

@inject ILocalStorage LocalStorage

<MudThemeProvider IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Fixed="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggleAsync" />
        <a href="/">
            <img src="icon_white.png" style="height: 35px; margin-left: 15px; margin-right: 15px;" />
        </a>
        <MudSpacer />
        @* Dark mode toggler *@
        @*<MudIconButton Icon="@_themeModeIcon" Color="Color.Inherit" OnClick="ThemeModeToggleAsync" />*@
    </MudAppBar>
    <MudDrawer @bind-Open="_isDrawerOpen" Variant="DrawerVariant.Mini" ClipMode="DrawerClipMode.Always"  Elevation="1">
        <NavMenu />
        @if (_isDrawerOpen)
        {
            @*<environment names="Development">
                <MudNavGroup Title="Vývoj">
                    <MudNavLink Href="/editor" ForceLoad="false" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Edit" Class="">Editor</MudNavLink>
                    <MudNavLink Href="/404"    ForceLoad="false" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.NotAccessible" Class="">404</MudNavLink>
                </MudNavGroup>
            </environment>*@

            <MudText Typo="Typo.body2" Align="Align.End" Class="pr-4">@_versionString</MudText>
        }
    </MudDrawer>
    <MudMainContent style="height: 100vh;">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDrawerOpen = true;
    private bool _isDarkMode = false;

    private string _versionString = VersionUtils.GetVersionString();

    private string _themeModeIcon => !_isDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await LoadLayoutSettingsAsync();
        }
    }

    async Task LoadLayoutSettingsAsync()
    {
        var appSettings = await LocalStorage.GetValueAsync<AppSettings>(nameof(AppSettings));
        if (appSettings is null)
            return;

        _isDarkMode = appSettings.IsDarkMode;
        _isDrawerOpen = appSettings.IsLeftPanelOpen;

        StateHasChanged();
    }

    async Task SaveLayoutSettingsAsync()
    {
        var appSettings = await LocalStorage.GetValueAsync<AppSettings>(nameof(AppSettings));
        if (appSettings is null)
        {
            appSettings = new AppSettings();
        }

        appSettings.IsDarkMode = _isDarkMode;
        appSettings.IsLeftPanelOpen = _isDrawerOpen;

        await LocalStorage.SetValueAsync(nameof(AppSettings), appSettings);
    }


    async Task DrawerToggleAsync()
    {
        _isDrawerOpen = !_isDrawerOpen;

        await SaveLayoutSettingsAsync();
    }

    async Task ThemeModeToggleAsync()
    {
        _isDarkMode = !_isDarkMode;

        await SaveLayoutSettingsAsync();
    }
}