﻿<MudNavMenu>
    <MudNavLink Href="/"             Match="NavLinkMatch.All"    Icon="@Icons.Material.Filled.Dashboard" Class="" >Dashboard</MudNavLink>
    <MudNavLink Href="/jobs"         Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Work" Class="" >Úlohy</MudNavLink>
    <MudNavLink Href="/profiles"     Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List" Class="">Profily</MudNavLink>
    <MudNavLink Href="/dictionaries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Book" Class="">Slovníky</MudNavLink>
    <MudNavLink Href="/logs"         Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.BugReport" Class="">Záznamy</MudNavLink>    
</MudNavMenu>
