﻿.background-primary {
    background: var(--mud-palette-primary);
}

a.mud-nav-link {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

a.active svg {
    color: var(--mud-palette-primary) !important;
}

.table-header {
    background-color: var(--mud-palette-primary) !important;
    color: var(--mud-palette-appbar-text) !important;
}

.table-row-selected {
    background: var(--mud-palette-info-lighten) !important;
}

tr.table-row-selected td {
    color: var(--mud-palette-white) !important;
}

.text-error {
    color: var(--mud-palette-error);
}
           
.size-full {
    width: 100%;
    height: 100%;
}

.monaco-editor-container {
    /*height: 450px;*/
    width: 100%;
    height: 100%;
    /*border: 1px solid gray;*/
}

.editorErrorLine {
    background: var(--mud-palette-error-hover);
}

.editorErrorIcon {
    background: var(--mud-palette-error-lighten);
}

.editorWarnLine {
    background: var(--mud-palette-warning-hover);
}

.editorWarnIcon {
    background: var(--mud-palette-warning-lighten);
}