﻿@page "/"

@implements IDisposable

@using DMTGui.Client.Extensions
@using DMTGui.Client.Models
@using DMTGui.Shared.Utils
@using DMTGui.Shared.Contracts
@using System.Globalization

@inject ILogger<Dashboard> Logger
@inject ISnackbar Snackbar

@inject IJobContract JobService
@inject IStatisticsContract StatisticsService;

<PageTitle>@PageTitle</PageTitle>

<MudPaper Elevation="25" Class="my-5 mx-5">
    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
    </MudToolBar>

    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem xs="12" sm="12" md="12" lg="5">
            <MudPaper Class="px-5 py-5" Elevation="0">
                <MudText Typo="Typo.h5">Statistika za posleních 7 dní</MudText>

                @if (_chartData is not null)
                {
                    <MudChart Class="my-5" Width="100%" Height="350px" ChartType="ChartType.Bar" ChartSeries="@_chartData.Series" XAxisLabels="@_chartData.XAxisLabels" ChartOptions="@_chartData.Options" />
                }

                @if (_statistics is not null)
                {
                    <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                        <MudText Typo="Typo.body1">Celkový počet zpracovaných objektů:</MudText>
                        <MudText Typo="Typo.body1">@GetStatsAllSum(_statistics)</MudText>
                    </div>

                    <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                        <MudText Typo="Typo.body1">Celkový počet správných objektů:</MudText>
                        <MudText Typo="Typo.body1">@GetStatsSuccessSum(_statistics)</MudText>
                    </div>

                    <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                        <MudText Typo="Typo.body1">Celkový počet chybných objektů:</MudText>
                        <MudText Typo="Typo.body1">@GetStatsErrorSum(_statistics)</MudText>
                    </div>

                    <div class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                        <MudText Typo="Typo.body1">Průměrná rychlost na objekt:</MudText>
                        <MudText Typo="Typo.body1">@FormatToSeconds(GetAverageSpeed(_statistics))</MudText>
                    </div>
                }

            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="7">
            <MudPaper Class="px-5 py-5" Elevation="0">
                <MudText Typo="Typo.h5">Běžící úlohy</MudText>
                <MudTable Items="_runningJobs"
                          Class="my-5"
                          Hover="false"
                          Striped="false"
                          Bordered="false">
                    <ColGroup>
                        <col style="width: 300px;" />
                        <col />
                        <col />
                        <col />
                        <col style="width: 200px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Název</MudTh>
                        <MudTh>Popis</MudTh>
                        <MudTh>Informace</MudTh>
                        <MudTh>Automatické ukočení</MudTh>
                        <MudTh>Ovládání</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd><MudLink Href="@FormatJobLink(context)">@context.Name</MudLink></MudTd>
                        <MudTd>@context.Description</MudTd>
                        <MudTd>@FormatRunningInfo(context)</MudTd>
                        <MudTd>@FormatDate(context.ScheduledStop)</MudTd>
                        <MudTd>
                            @if (_isStoppingJob)
                            {
                                <MudButton Color="Color.Error" Variant="Variant.Filled" Style="width: 100px">
                                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
                                </MudButton>
                            }
                            else
                            {
                                <MudButton Color="Color.Error" OnClick="@(async () => await OnStopJobAsync(context))" Variant="Variant.Filled" Style="width: 100px">Zastavit</MudButton>
                            }
                        </MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        Žádná úloha není aktivní
                    </NoRecordsContent>
                </MudTable>

                <MudText Typo="Typo.h5">Naplánované úlohy</MudText>
                <MudTable Items="_plannedJobs"
                          Class="my-5"
                          Hover="false"
                          Striped="false"
                          Bordered="false">
                    <ColGroup>
                        <col style="width: 300px;" />
                        <col />
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Název</MudTh>
                        <MudTh>Popis</MudTh>
                        <MudTh>Příští běh</MudTh>
                        <MudTh>Předchozí běh</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd><MudLink Href="@FormatJobLink(context)">@context.Name</MudLink></MudTd>
                        <MudTd>@context.Description</MudTd>
                        <MudTd>@FormatNextRun(context)</MudTd>
                        <MudTd>@context.LastRun</MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        Žádná úloha není naplánovaná
                    </NoRecordsContent>
                </MudTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider />
    <MudToolBar>
        <MudSpacer />
        @if (_isLoading)
        {
            <MudButton Class="mr-4" Variant="Variant.Filled" Style="width: 120px">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
            </MudButton>
        }
        else
        {
            <MudButton Class="mr-4" Variant="Variant.Filled" OnClick="LoadAsync" Style="width: 120px">
                @FormatNextRefresh(_refreshNext)
            </MudButton>
        }
    </MudToolBar>
</MudPaper>

@code {
    public const string PageTitle = "Dashboard";

    private Timer _stateRefreshTimer;

    private DateTime? _refreshNext;
    private Timer _refreshTimer;
    private bool _isRefreshTimerDisposed;
    private int _refreshTimeInSeconds = 30;
    private IEnumerable<JobDto> _runningJobs = Enumerable.Empty<JobDto>();
    private IEnumerable<JobDto> _plannedJobs = Enumerable.Empty<JobDto>();

    private MudChartData _chartData;
    private IEnumerable<MigrationStatisticsDto> _statistics;

    private bool _isLoading = false;
    private bool _isStoppingJob = false;

    public void Dispose()
    {
        _isRefreshTimerDisposed = true;
        _refreshTimer?.Dispose();
        _stateRefreshTimer?.Dispose();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            _refreshTimer = new Timer(async (object state) => await LoadAsync());
            StartRefreshTimer();

            _stateRefreshTimer = new Timer((object state) => StateHasChanged());
            StartStateRefreshTimer();

            await LoadAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnStopJobAsync(JobDto job)
    {
        _isStoppingJob = true;

        var success = await JobService.StopJob(job.Id).TryInvoke();
        if (success)
        {
            await Task.Delay(1000);
            await LoadAsync();
        }
        else
        {
            Snackbar.Add($"Nepodařilo se zastavit úlohu {job.Name}!", Severity.Error);
        }

        _isStoppingJob = false;
    }


    private async Task LoadAsync()
    {
        _isLoading = true;
        StateHasChanged();

        Logger.LogDebug("Aktualizuji seznam úloh");

        var result = await JobService.GetAll().TryInvoke();
        if (result.Success)
        {
            var jobs = result.Result;

            _runningJobs = GetRunningJobs(jobs);
            _plannedJobs = GetPlannedJobs(jobs);

            await LoadStatisticsAsync();

            StartRefreshTimer();
        }
        else
        {
            Snackbar.Add("Nepodařilo se načíst seznam úkolů!", Severity.Error);
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task LoadStatisticsAsync()
    {
        var daysToDisplay = 7;

        var actualDate = DateTime.Now.Date;
        var days = Enumerable
            .Range(0, daysToDisplay)
            .Select(num => actualDate.AddDays(-1 * num))
            .ToArray()
            .Reverse();

        var search = new StatisticsSearchDto
            {
                StartDate = days.Min()
            };

        _statistics = await StatisticsService.GetAll(search);

        var data = new MudChartData
            {
                Options = CreateOptions(_statistics),
                Series = CreateCharts(_statistics, days),
                XAxisLabels = FormatDays(days)
            };

        _chartData = data;
    }

    private static List<ChartSeries> CreateCharts(IEnumerable<MigrationStatisticsDto> stats, IEnumerable<DateTime> days)
    {
        if (stats.Count() == 0)
        {
            var emptyDays = Enumerable.Range(0, days.Count()).Select(enm => (double)0).ToArray();

            return new List<ChartSeries>() { new ChartSeries() { Name = "Nic", Data = emptyDays } };
        }

        var charts = new List<ChartSeries>();
        foreach (var stat in stats)
        {
            var numbers = new List<double>();
            foreach (var day in days)
            {
                var statsDay = stat.Days.FirstOrDefault(ent => ent.Day.Date == day.Date);
                numbers.Add(statsDay?.Count ?? 0);
            }

            var chart = new ChartSeries
                {
                    Name = stat.MigrationName,
                    Data = numbers.ToArray()
                };

            charts.Add(chart);
        }

        return charts;
    }

    private static ChartOptions CreateOptions(IEnumerable<MigrationStatisticsDto> stats)
    {
        var maxTicks = 5;
        var maxCount = 0;

        if (stats.SelectMany(sta => sta.Days).Any())
        {
            maxCount = stats.SelectMany(sta => sta.Days).Max(sta => sta.Count);
        }

        var axisTicks = maxCount > 0 ? maxCount / maxTicks : 10_000;
        var options = new ChartOptions
            {
                MaxNumYAxisTicks = maxTicks,
                InterpolationOption = InterpolationOption.Periodic,
                YAxisTicks = axisTicks
            };

        return options;
    }

    private static string[] FormatDays(IEnumerable<DateTime> days)
    {
        return days.Select(day => day.ToString("MM.dd.")).ToArray();
    }

    private static long GetStatsAllSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.Count);
    }

    private static long GetStatsSuccessSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.SuccessfullCount);
    }

    private static long GetStatsErrorSum(IEnumerable<MigrationStatisticsDto> stats)
    {
        return stats.SelectMany(sta => sta.Days).Sum(sta => sta.WrongCount);
    }

    private static TimeSpan GetAverageSpeed(IEnumerable<MigrationStatisticsDto> stats)
    {
        var manyTicks = stats
            .SelectMany(sta => sta.Days)
            .Select(sta => sta.SuccessfullSpeed.Ticks)
            .ToArray();

        var averageTicks = manyTicks.Length == 0 ? 0 : (long)manyTicks.Average();

        return TimeSpan.FromTicks(averageTicks);
    }

    private static string FormatToSeconds(TimeSpan span)
    {
        return $"{span.TotalSeconds:0.00}s";
    }

    private void StartRefreshTimer()
    {
        if (_refreshTimer is null || _isRefreshTimerDisposed)
            return;

        Logger.LogDebug("Spouštím automatické obnovení");

        _refreshTimer.Change(TimeSpan.FromSeconds(_refreshTimeInSeconds), Timeout.InfiniteTimeSpan);
        _refreshNext = DateTime.Now.AddSeconds(_refreshTimeInSeconds);

        //_refreshTimer.Change(TimeSpan.FromSeconds(0), TimeSpan.FromSeconds(_refreshTimeInSeconds));
    }

    private void StartStateRefreshTimer()
    {
        _stateRefreshTimer.Change(TimeSpan.FromSeconds(0), TimeSpan.FromMilliseconds(500));
    }

    private static IEnumerable<JobDto> GetRunningJobs(IEnumerable<JobDto> jobs)
    {
        return jobs.Where(job => job.State == JobState.Running);
    }

    private static IEnumerable<JobDto> GetPlannedJobs(IEnumerable<JobDto> jobs)
    {
        return jobs.Where(job => job.State == JobState.Waiting);
    }

    private static string FormatRunningInfo(JobDto job)
    {
        var formatedInfo = $"Zpracování: {job.ActualQueueSize}/{job.QueueSize}";

        if (job.StepCount > 1)
        {
            formatedInfo = $"{formatedInfo}, krok {job.ActualStep}/{job.StepCount}";
        }

        return formatedInfo;
    }

    private static string FormatNextRun(JobDto job)
    {
        if (job.Triggers is null || job.Triggers.Length == 0)
            return "";

        var dateTimeNow = DateTime.Now;

        var closestFire = job.Triggers
            .Select(trg =>
            {
                CronUtils.TryGetCrontabNextOccurrence(trg.Settings, dateTimeNow, out var nextFire);
                return nextFire;
            })
            .Where(fre => fre is not null)
            .Min();

        return FormatDate(closestFire);
    }

    private static string FormatDate(DateTime? dateTime)
    {
        return dateTime?.ToString(CultureInfo.CurrentCulture) ?? "";
    }

    private static int GetNextRefreshInSeconds(DateTime? nextRefresh)
    {
        if (nextRefresh is null)
            return -1;

        return (nextRefresh - DateTime.Now).Value.Seconds;
    }

    private static string FormatNextRefresh(DateTime? nextRefresh)
    {
        var secondsToRefresh = GetNextRefreshInSeconds(nextRefresh);
        if (secondsToRefresh < 0)
            return "Refresh";

        secondsToRefresh++;

        return $"Refresh: {secondsToRefresh}";
    }

    private static string FormatJobLink(JobDto job)
    {
        return $"jobs/{job.Id}";
    }
}
