﻿@page "/dictionaries"

@using DMTGui.Client.Dialogs
@using DMTGui.Client.Extensions
@using DMTGui.Client.Services.Api
@using System.Globalization
@using DMTGui.Client.Utils
@using DMTGui.Shared.Contracts

@inject ILogger<Dictionaries> Logger
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager UriHelper

@inject DataTableService DataTableService
@inject SaveFileService SaveFileService
@inject IDictionaryContract DictionaryService

<PageTitle>@PageTitle</PageTitle>

<InputFile id="dictionaryInput" OnChange="OnUploadDictionaryAsync" hidden accept=".csv" />
@*<InputFile id="dictionaryInput" OnChange="OnUploadDictionaryAsync" hidden accept=".csv, .xlsx" />*@

<MudPaper Elevation="25" Class="my-5 mx-5">

    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
        <MudTooltip Text="Vyplňte text, který chcete v tabulce najít. Pomocí čárky je možné vyhledat více hodnot.">
            <MudTextField @bind-Value="_searchString" Placeholder="Hledej..." Adornment="Adornment.Start" Clearable="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </MudTooltip>
    </MudToolBar>

    <MudTable @ref="_mudTable"
              Items="_dictionaries"
              Hover="true"
              Striped="true"
              Bordered="false"
              Elevation="0"
              RowsPerPage="@_rowsLimit"
              SortLabel="Sort By"
              Loading="@_isLoading"
              Filter="new Func<DictionaryDto, bool>(FilterFunc)"
              Dense="false"
              Height="70vh"
              FixedHeader="true"
              FixedFooter="true">
        <ColGroup>
            <col />
            <col style="width: 200px;" />
            <col style="width: 200px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<JobDto, object>(x=>x.Name)">Název</MudTableSortLabel></MudTh>
            <MudTh>Počet hodnot</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd>@context.EntriesCount</MudTd>
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem OnClick="@(() => UriHelper.NavigateTo($"dictionary/{@context.Name}", false, true))">Upravit</MudMenuItem>
                    <MudMenuItem OnClick="@(async () => await OnExportItemAsync(context))">Exportovat</MudMenuItem>
                    <MudMenuItem OnClick="@(async () => await OnDeleteItemAsync(context))" Class="text-error">Smazat</MudMenuItem>
                </MudMenu>
                @*<MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => ButtonClick(context)"/>*@
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            Nic tu není :(
        </NoRecordsContent>
        <PagerContent>
            @if (_dictionaries.Count() > _rowsLimit)
            {
                <MudTablePager DisableRowsPerPage="true"/>            
            }
        </PagerContent>
    </MudTable>
    <MudDivider />
    <MudToolBar>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="OnAddNewDictionary">Nový slovník</MudButton>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" HtmlTag="label" for="dictionaryInput">Nahrát slovník z disku</MudButton>
    </MudToolBar>

</MudPaper>

@code {
    private static string PageTitle = "Slovníky";

    private MudTable<DictionaryDto> _mudTable;
    private IEnumerable<DictionaryDto> _dictionaries = new DictionaryDto[0];

    private int _rowsLimit = 25;
    private string _searchString = "";
    private bool _isLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            await LoadDictionariesAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadDictionariesAsync()
    {
        _isLoading = true;
        StateHasChanged();

        var result = await DictionaryService.GetAllNames().TryInvoke();
        if (result.Success)
        {
            _dictionaries = result.Result;
        }
        else
        {
            Snackbar.Add("Nepodařilo se načíst seznam slovníků!", Severity.Error);
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task OnUploadDictionaryAsync(InputFileChangeEventArgs args)
    {
        var file = args.File;
        if (file is null)
            return;

        Logger.LogDebug($"Nahrání objektu z disku");

        var dialog = DialogService.ShowDictionaryImportDialog(file);

        var result = await dialog.Result;
        var dictionaryName = result.Data as string;

        if (result.Cancelled || string.IsNullOrEmpty(dictionaryName))
        {
            Logger.LogDebug($"Přidání objektu zrušeno");
            return;
        }

        Snackbar.Add($"Podařilo se uložit nový slovník '{dictionaryName}'", Severity.Success);

        await LoadDictionariesAsync();
    }

    private async Task OnExportItemAsync(DictionaryDto item)
    {
        Logger.LogDebug("Export vybraného slovníku");

        if (item is null)
            return;

        var result = await DictionaryService.Get(item.Name).TryInvoke();
        if (!result.Success)
        {
            Snackbar.Add($"Nastala chyba při exportu slovníku!", Severity.Error);
            return;
        }

        var dictionary = result.Result;
        var dictionaryName = $"{dictionary.Name}.csv";
        var dictionaryRecords = DictionariesUtils.GetRecordsFromDictionaryEntries(dictionary.Entries);

        var dataToSave = await DataTableService.ExportToCsvAsync(dictionaryRecords);
        await SaveFileService.SaveAsAsync(dictionaryName, dataToSave);

        Logger.LogDebug("Export dokončen");
        Snackbar.Add($"Export slovníku '{dictionary.Name}' dokončen!", Severity.Success);
    }

    private async Task OnDeleteItemAsync(DictionaryDto item)
    {
        Logger.LogDebug("Smazání vybraného slovníku");

        if (item is null)
            return;

        var message = $"Opravdu chcete vymazat slovník s názvem '{item.Name}'? Tuto akci není možné vrátit.";
        var dialog = DialogService.ShowYesNoDialog("Smazání slovníku", message, Color.Error, Icons.Material.Filled.Delete);

        var dialogResult = await dialog.Result;
        if (dialogResult.Cancelled)
        {
            Logger.LogDebug($"Smazání slovníku zrušeno");
            return;
        }

        Logger.LogDebug($"Mažu slovík {item}");

        var result = await DictionaryService.Delete(item.Name).TryInvoke();
        if (!result)
            return;

        await LoadDictionariesAsync();
    }

    private void OnAddNewDictionary(MouseEventArgs args)
    {
        Logger.LogDebug("Vytvoření nového slovníku");

        UriHelper.NavigateTo($"dictionary", false, true);
    }

    private bool FilterFunc(DictionaryDto dictionary)
    {
        if (string.IsNullOrEmpty(_searchString))
            return true;

        var searchValues = _searchString
            .Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
            .Select(val => val.Trim())
            .ToArray();

        if (searchValues.Length == 0)
            return false;

        return FilterFunc(dictionary, searchValues);
    }

    private static bool FilterFunc(DictionaryDto dictionary, string[] searchValues)
    {
        if (searchValues is null)
            return true;

        return searchValues.Any(val => FilterFunc(dictionary, val));
    }

    private static bool FilterFunc(DictionaryDto dictionary, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (dictionary.Name?.Contains(searchString) ?? false)
            return true;

        return false;
    }

}
