﻿@page "/dictionary"
@page "/dictionary/{DictionaryName}"

@using DMTGui.Client.Dialogs
@using DMTGui.Client.Extensions
@using DMTGui.Shared.Contracts
@using DMTGui.Shared.Extensions

@inject ILogger<Dictionary> Logger
@inject ISnackbar Snackbar
@inject NavigationManager UriHelper
@inject IDialogService DialogService

@inject IDictionaryContract DictionaryService

<PageTitle>@PageTitle</PageTitle>

<MudPaper Elevation="25" Class="my-5 mx-5">

    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
        <MudTooltip Text="Vyplňte text, který chcete v tabulce najít. Pomocí čárky je možné vyhledat více hodnot.">
            <MudTextField @bind-Value="_searchString" Placeholder="Hledej..." Adornment="Adornment.Start" Clearable="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </MudTooltip>
    </MudToolBar>

    <MudTable T="DictionaryEntryDto" 
              Items="@_dictionary.Entries" 
              Dense="true"
              Hover="true"
              Striped="true"
              Bordered="false"
              Height="70vh"
              Elevation="0"
              RowsPerPage="@_rowsLimit"
              SortLabel="Sort By"
              Loading="@_isLoading"
              Filter="new Func<DictionaryEntryDto, bool>(FilterFunc)"
              FixedHeader="true"
              FixedFooter="true">

        <HeaderContent>
            @foreach (var header in _tableHeaders)
            {
                <MudTh>@header</MudTh>
            }
            <MudTh>Více možností</MudTh>
        </HeaderContent>
        <RowTemplate>
            @foreach (var header in _tableHeaders)
            {
                <MudTd DataLabel="@header">
                    @if (header == "Klíč")
                    {
                        <MudTooltip Text="@context.Description">
                            <MudText>@context.Key</MudText>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="@PropertyDescription(context, header)">
                            <MudText>@PropertyValue(context, header)</MudText>
                        </MudTooltip>
                    }
                </MudTd>
            }
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem OnClick="@(async () => await OnEditItemAsync(context))">Upravit</MudMenuItem>
                    <MudMenuItem OnClick="@(() => OnDeleteItem(context))" Class="text-error">Smazat</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            Nic tu není :(
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager DisableRowsPerPage="false" PageSizeOptions="new int[]{ 10, 50, 100, 1_000 }" />
        </PagerContent>
    </MudTable>
    <MudDivider />
    <MudToolBar>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="OnAddItemAsync">Nová hodnota</MudButton>
        <MudSpacer />
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Default" OnClick="OnReturn">Zrušit</MudButton>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" OnClick="OnSaveDictionaryAsync" Disabled="@(!IsSavePossible())">Uložit</MudButton>
    </MudToolBar>

</MudPaper>

@code {

    private string PageTitle => FormatPageTitle(_isNewDictionary, DictionaryName);

    private IEnumerable<string> _tableHeaders = new string[0];

    private DictionaryDto _dictionary = new();
    private IEnumerable<string> _existingDictionariesNames = new string[0];

    private int _rowsLimit = 100;
    private string _searchString = "";
    private bool _isLoading = false;

    private bool _isNewDictionary = false;

    [Parameter]
    public string DictionaryName { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            _isNewDictionary = string.IsNullOrEmpty(DictionaryName);

            await LoadDictionaryAsync();

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadDictionariesAsync()
    {
        var result = await DictionaryService.GetAllNames().TryInvoke();
        if (!result.Success)
            return;

        _existingDictionariesNames = result.Result
            .Select(res => res.Name)
            .ToArray();
    }

    private async Task LoadDictionaryAsync()
    {
        if (_isNewDictionary)
            return;

        _isLoading = true;
        StateHasChanged();

        var result = await DictionaryService.Get(DictionaryName).TryInvoke();
        if (result.Success)
        {
            _dictionary = result.Result;
            _tableHeaders = GetHeadersFromDictionary(_dictionary);
        }
        else
        {
            var dialog = DialogService.ShowOkDialog("Chyba načtení", $"Nepodařilo se načíst slovník '{DictionaryName}'!");
            await dialog.Result;

            OnReturn(null);
        }

        _isLoading = false;
        StateHasChanged();
    }

    private void ReloadDictionaryViewAsync()
    {
        _tableHeaders = GetHeadersFromDictionary(_dictionary);
    }

    private async Task OnEditItemAsync(DictionaryEntryDto item)
    {
        Logger.LogDebug("Editace vybrané hodnoty");

        if (item is null)
            return;

        var index = _dictionary.Entries.IndexOf(item);
        if (index < 0)
            return;

        var itemToEdit = new DictionaryEntryDto(item);

        var editedItem = await AddOrEditItemAsync(itemToEdit, "Upravit hodnotu");
        if (editedItem is null)
            return;

        _dictionary.Entries[index] = editedItem;
        ReloadDictionaryViewAsync();
        StateHasChanged();
    }

    private void OnDeleteItem(DictionaryEntryDto item)
    {
        Logger.LogDebug("Smazání vybrané hodnoty");

        if (item is null)
            return;

        _dictionary.Entries = _dictionary.Entries.SkipItem(item).ToArray();
        ReloadDictionaryViewAsync();
        StateHasChanged();

        Logger.LogDebug("Smazání vybrané hodnoty dokončeno");
    }

    private async Task OnAddItemAsync(MouseEventArgs args)
    {
        Logger.LogDebug("Vytvoření nové hodnoty");

        var newItem = await AddOrEditItemAsync(null, "Přidat hodnotu");
        if (newItem is null)
            return;

        _dictionary.Entries = _dictionary.Entries.Append(newItem).ToArray();
        ReloadDictionaryViewAsync();
        StateHasChanged();
    }

    private async Task<DictionaryEntryDto> AddOrEditItemAsync(DictionaryEntryDto entry, string message)
    {
        var options = new DialogOptions { FullWidth = true, CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };

        var parametres = new DialogParameters();
        parametres.Add(nameof(DictionaryEntryDialog.Entry), entry);

        var dialog = DialogService.Show<DictionaryEntryDialog>(message, parametres, options);

        var result = await dialog.Result;
        if (result.Cancelled)
            return null;

        return (result.Data as DictionaryEntryDto);
    }

    private void OnReturn(MouseEventArgs args)
    {
        UriHelper.NavigateTo("dictionaries", false, true);
    }

    private async Task OnSaveDictionaryAsync(MouseEventArgs args)
    {
        Logger.LogDebug("Ukládám slovník");

        var isSuccess = _isNewDictionary
            ? await OnCreateNewDictionaryAsync()
            : await OnUpdateDictionary();

        if (!isSuccess)
        {
            Snackbar.Add($"Slovník se nepodařilo uložit!", Severity.Error);
            return;
        }

        Snackbar.Add($"Slovník uložen!", Severity.Success);
        Logger.LogDebug("Slovník uložen");

        OnReturn(args);
    }

    private async Task<bool> OnCreateNewDictionaryAsync()
    {
        var dialog = DialogService.ShowTextDialog("Vytvoření slovníku", "Prosím zadejte název nového slovníku:", onSubmitValidation: ValidateDictionaryName);

        var dialogResult = await dialog.Result;
        if (dialogResult.Cancelled || string.IsNullOrEmpty((string)dialogResult.Data))
            return false;

        var dictionaryName = (string)dialogResult.Data;
        _dictionary.Name = dictionaryName;

        var result = await DictionaryService.Add(_dictionary).TryInvoke();
        return result.Success;
    }

    private async Task<bool> OnUpdateDictionary()
    {
        _dictionary.Name = DictionaryName;

        var result = await DictionaryService.Update(DictionaryName, _dictionary).TryInvoke();
        return result; 
    }

    private string ValidateDictionaryName(string name)
    {
        if (string.IsNullOrEmpty(name))
            return "Jméno slovníku je nutné vyplnit!";

        var nameExists = _existingDictionariesNames.Any(ent => ent == name);
        if (nameExists)
            return "Slovík s tímto jménem již existuje.";

        return null;
    }

    private bool FilterFunc(DictionaryEntryDto entry)
    {
        if (string.IsNullOrEmpty(_searchString))
            return true;

        var searchValues = _searchString
            .Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
            .Select(val => val.Trim())
            .ToArray();

        if (searchValues.Length == 0)
            return false;

        return FilterFunc(entry, searchValues);
    }

    private bool IsSavePossible()
    {
        return _dictionary.Entries?.Any() ?? false;
    }

    private static bool FilterFunc(DictionaryEntryDto entry, string[] searchValues)
    {
        if (searchValues is null)
            return true;

        return searchValues.Any(val => FilterFunc(entry, val));
    }

    private static bool FilterFunc(DictionaryEntryDto entry, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (entry.Key?.ToString().Contains(searchString) ?? false)
            return true;

        if (entry.Description?.ToString().Contains(searchString) ?? false)
            return true;

        if (entry.Properties?.Any(prt => prt.Value?.Contains(searchString) ?? false) ?? false)
            return true;

        if (entry.Properties?.Any(prt => prt.Descripton?.Contains(searchString) ?? false) ?? false)
            return true;

        return false;
    }

    private static string[] GetHeadersFromDictionary(DictionaryDto dictionary)
    {
        var headers = new[] { "Klíč" };

        if (dictionary is null)
            return headers;

        var distinctProperties = dictionary.Entries
            .SelectMany(ent => ent.Properties)
            .Select(ent => ent.Key)
            .Distinct()
            .ToArray();

        headers = headers
            .AppendRange(distinctProperties)
            .ToArray();

        return headers;
    }

    private static string PropertyValue(DictionaryEntryDto entry, string propertyName)
    {
        var property = entry.Properties?.FirstOrDefault(prt => prt.Key == propertyName);

        return property?.Value ?? "";
    }

    private static string PropertyDescription(DictionaryEntryDto entry, string propertyName)
    {
        var property = entry.Properties?.FirstOrDefault(prt => prt.Key == propertyName);

        return property?.Descripton ?? null;
    }

    private static string FormatPageTitle(bool isNewDictionary, string dictionaryName)
    {
        return isNewDictionary ? "Vytvoření slovníku" : $"Slovník {dictionaryName}";
    }
}
