﻿@page "/job"
@page "/job/{JobId}"

@using DMTGui.Client.Dialogs
@using System.Globalization
@using DMTGui.Client.Services.Api
@using DMTGui.Client.Utils
@using DMTGui.Shared.Utils
@using DMTGui.Shared.Extensions
@using DMTGui.Client.Extensions
@using DMTGui.Shared.Contracts

@inject ILogger<JobEditor> Logger
@inject IDialogService DialogService
@inject NavigationManager UriHelper

@inject IProfileContract ProfileService  
@inject IJobContract JobService

<PageTitle>@PageTitle</PageTitle>

@* <MudPaper Elevation="25" Height="100%"> *@
<MudPaper Elevation="25" Class="my-5 mx-5 py-5 px-5">
    <MudText Typo="Typo.h3">@PageTitle</MudText>

    <EditForm Model="@_job" @ref="@_form" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator/>
        <MudCardContent>
            <MudTextField Label="Název úlohy" HelperText="Povinné, max. 256 znaků" @bind-Value="_job.Name" For="@(() => _job.Name)"/>
            <MudTextField Label="Popis úlohy" HelperText="Max. 1024 znaků" Class="mt-3" @bind-Value="_job.Description" For="@(() => _job.Description)"/>
        </MudCardContent>
        
       <MudText Class="py-4 px-4" Typo="Typo.h5">Profily</MudText>
        <MudTable @ref="@_profileTable" T="ProfileLinkDto" Items="_job.Profiles" 
                  Hover="true" Striped="true" Bordered="false" 
                  SelectedItemChanged="StateHasChanged"
                  RowClassFunc="@((item, index) => GetSelectedClass(_profileTable.SelectedItem, item, "table-row-selected"))">
            <HeaderContent>
                <MudTh>Název</MudTh>
            </HeaderContent>
            <RowTemplate Context="profileContext">
                <MudTd DataLabel="ProfileName">@profileContext.ProfileName</MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>Úloha neobsahuje žádné profily</MudText>
            </NoRecordsContent>
        </MudTable>
        <MudToolBar>
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="OnDeleteProfile">Odstranit profil</MudButton>
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="@(async () => await OnAddProfileAsync())">Přidat profil</MudButton>
            <MudSpacer />
            <MudIconButton Class="mr-4" Variant="Variant.Filled" Color="Color.Default" Icon="@Icons.Material.Filled.ArrowUpward"   OnClick="OnMoveUpProfile"/>
            <MudIconButton Class="mr-4" Variant="Variant.Filled" Color="Color.Default" Icon="@Icons.Material.Filled.ArrowDownward" OnClick="OnMoveDownProfile" />            
        </MudToolBar>

        
        <MudText Class="py-4 px-4" Typo="Typo.h5">Spuštění</MudText>
        <MudTable @ref="@_triggerTable" T="TriggerDto" Items="_job.Triggers" 
                  Hover="true" Striped="true" Bordered="false"
                  SelectedItemChanged="StateHasChanged"
                  RowClassFunc="@((item, index) => GetSelectedClass(_triggerTable.SelectedItem, item, "table-row-selected"))">
            <HeaderContent>
                <MudTh>Nastavení</MudTh>
                <MudTh>Lidsky</MudTh>
                <MudTh>Nejbližší spuštění</MudTh>
                <MudTh>Popis</MudTh>
            </HeaderContent>
            <RowTemplate Context="triggerContext">
                <MudTd DataLabel="Settings">@triggerContext.Settings</MudTd>
                <MudTd DataLabel="SettingsHuman">@FormatCronForHumans(@triggerContext.Settings)</MudTd>
                <MudTd DataLabel="SettingsFormatted">@FormatCronNextOccurrence(@triggerContext.Settings)</MudTd>
                <MudTd DataLabel="Description">@triggerContext.Description</MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>Úloha neobsahuje žádné nastavení spuštění</MudText>
            </NoRecordsContent>
        </MudTable>
        <MudToolBar>
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="OnDeleteTrigger">Odstranit</MudButton>
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="@(async () => await OnAddTriggerAsync())">Přidat</MudButton>
            <MudSpacer />
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Default" OnClick="OnEditTriggerAsync">Upravit</MudButton>
        </MudToolBar>

        <MudDivider />
        
        <MudCardActions>
            <MudSpacer />
            <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Error" OnClick="OnCancel">Zrušit</MudButton> @* StartIcon="@Icons.Material.Filled.Stop" *@
            <MudButton Class="mr-4" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Save">Uložit</MudButton>
        </MudCardActions>
    </EditForm>
    
</MudPaper>


@code {
    public readonly string PageTitle = "Editor migrační úlohy";

    private bool _isJobNew = false;
    private JobDto _job = new JobDto();

    private EditForm _form;
    private MudTable<ProfileLinkDto> _profileTable;
    private MudTable<TriggerDto> _triggerTable;

    [Parameter]
    public string JobId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await LoadJobAsync();

            StateHasChanged();
        }
    }

    private async Task LoadJobAsync()
    {
        _isJobNew = true;

        if (string.IsNullOrEmpty(JobId))
        {
            _job = new JobDto();
            _job.Name = "Nová úloha";

            return;
        }

        var result = await JobService.Get(JobId).TryInvoke();
        if (result.Success)
        {
            _job = result.Result;

            if (_job is not null)
            {
                _isJobNew = false;
                return;
            }
        }

        DialogService.ShowOkDialog("Chyba načtení", $"Nepodařilo se načíst úlohu s id '{JobId}'.");
    }

    private async Task OnAddProfileAsync()
    {
        if (_profileTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        Logger.LogDebug("Vybírání profilů pro přidání");

        var profiles = await ProfileService.GetAll();

        var profilesToSelect = profiles
            .Select(prf => new ProfileLinkDto { ProfileId = prf.Id, ProfileName = prf.Name })
            .ToArray();

        var dialog = DialogService.ShowSelectItemDialog<ProfileLinkDto>(profilesToSelect, "Vyberte profily");

        var result = await dialog.Result;
        if (result.Cancelled)
        {
            Logger.LogDebug("Vybírání profilů zrušeno");
            return;
        }

        var selectedProfiles = (HashSet<ProfileLinkDto>)result.Data;
        var selectedProfilesJoined = string.Join(",", selectedProfiles);
        Logger.LogDebug($"Byly vybrány tyto profily '{selectedProfilesJoined}'");

        _job.Profiles = _job.Profiles
            .AppendRange(selectedProfiles)
            .DistinctBy(prf => new { prf.ProfileId, prf.ProfileName })
            .ToArray();
    }

    private void OnDeleteProfile()
    {
        if (_profileTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        var selectedItem = _profileTable.SelectedItem;
        if (selectedItem is null)
            return;

        _job.Profiles = _job.Profiles
            .SkipItem(selectedItem)
            .ToArray();
    }

    private void OnMoveUpProfile()
    {
        if (_profileTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        var selectedItem = _profileTable.SelectedItem;
        if (selectedItem is null)
            return;

        _job.Profiles = _job.Profiles.MoveItemUp(selectedItem).ToArray();
    }

    private void OnMoveDownProfile()
    {
        if (_profileTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        var selectedItem = _profileTable.SelectedItem;
        if (selectedItem is null)
            return;

        _job.Profiles = _job.Profiles.MoveItemDown(selectedItem).ToArray();
    }

    private async Task OnAddTriggerAsync()
    {
        Logger.LogDebug("Vytvoření nového triggeru");

        var dialog = DialogService.ShowCronDialog("0/5 * 18-23,0-6 ? * *");

        var result = await dialog.Result;
        if (result.Cancelled || result.Data is not Tuple<string, string> resultData)
        {
            Logger.LogDebug($"Přidání triggeru zrušeno");
            return;
        }

        _job.Triggers = _job.Triggers
            .Append(new TriggerDto { Settings = resultData.Item1, Description = resultData.Item2 })
            .ToArray();
    }

    private void OnDeleteTrigger()
    {
        if (_triggerTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        var selectedItem = _triggerTable.SelectedItem;
        if (selectedItem is null)
            return;

        _job.Triggers = _job.Triggers
            .SkipItem(selectedItem)
            .ToArray();
    }

    private async Task OnEditTriggerAsync()
    {
        if (_triggerTable is null)
            throw new InvalidOperationException($"Member '{nameof(_profileTable)}' cannot be empty");

        var selectedItem = _triggerTable.SelectedItem;
        if (selectedItem is null)
            return;

        var dialog = DialogService.ShowCronDialog(selectedItem.Settings);

        var result = await dialog.Result;
        if (result.Cancelled || result.Data is not Tuple<string, string> resultData)
        {
            Logger.LogDebug($"Upravení triggeru zrušeno");
            return;
        }

        selectedItem.Settings = resultData.Item1;
        selectedItem.Description = resultData.Item2;
    }

    private async Task OnValidSubmitAsync(EditContext context)
    {
        var task = _isJobNew ?
            AddProfileAsync() :
            UpdateProfileAsync();

        var result = await task.TryInvoke();
        if (result)
        {
            UriHelper.NavigateTo($"jobs", false, true);
            return;
        }

        DialogService.ShowOkDialog("Chyba uložení", "Nepodařilo uložit úlohu.");
    }

    private async Task AddProfileAsync()
    {
        Logger.LogDebug("Vytvářím novou úlohu");

        _job = await JobService.Add(_job);
        _isJobNew = false;

        Logger.LogDebug($"Úloha '{_job.Id}' vytvořena");

        UriHelper.NavigateTo($"jobs", false, true);
    }

    private async Task UpdateProfileAsync()
    {
        Logger.LogDebug("Aktualizuji existující úlohu");

        await JobService.Update(_job.Id, _job);

        Logger.LogDebug("Úloha aktualizována");
    }

    private void OnCancel()
    {
        UriHelper.NavigateTo($"jobs", false, true);
    }

    private string FormatCronNextOccurrence(string cronString)
    {
        if (!CronUtils.CheckIsCronValid(cronString, out _))
            return "Nevalidní";

        var nextOccurence = CronUtils.GetCrontabNextOccurrence(cronString, DateTime.Now);
        if (nextOccurence is null)
            return "Nikdy";

        return nextOccurence.Value.ToString(CultureInfo.CurrentCulture);
    }

    private string FormatCronForHumans(string cronString)
    {
        if (!CronUtils.CheckIsCronValid(cronString, out _))
            return "Nevalidní";

        var humanReadableCron = CronUtils.GetHumanReadableCron(cronString);

        return humanReadableCron;
    }

    private static string GetSelectedClass<TValue>(TValue selectedItem, TValue item, string className)
    {
        if (selectedItem is null || item is null)
            return "";  

        if (selectedItem.Equals(item))
            return className;

        return "";
    }

    private static string GetSelectedClass<TValue>(IEnumerable<TValue> selectedItems, TValue item, string className)
    {
        if (selectedItems.Contains(item))
        {
            return className;
        }

        return "";
    }
}