﻿@page "/jobs"
@page "/jobs/{JobId}"

@using DMTGui.Client.Dialogs
@using DMTGui.Client.Extensions
@using DMTGui.Client.Services.Api
@using DMTGui.Client.Utils
@using DMTGui.Shared.Utils
@using System.Globalization
@using DMTGui.Shared.Contracts

@inject ILogger<Jobs> Logger
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager UriHelper

@inject IJobContract JobService

<PageTitle>@PageTitle</PageTitle>

<MudPaper Elevation="25" Class="my-5 mx-5">

    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
        <MudTooltip Text="Vyplňte text, který chcete v tabulce najít. Pomocí čárky je možné vyhledat více hodnot.">
            <MudTextField @bind-Value="_searchString" Placeholder="Hledej..." Adornment="Adornment.Start" Clearable="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </MudTooltip>
    </MudToolBar>

    <MudTable @ref="_mudTable"
              Items="_jobs"
              Hover="true"
              Striped="true"
              Bordered="false"
              Elevation="0"
              RowsPerPage="@_rowsLimit"
              SortLabel="Sort By"
              Loading="@_isLoading"
              Filter="new Func<JobDto, bool>(FilterFunc)"
              Dense="false"
              Height="70vh"
              FixedHeader="true"
              FixedFooter="true">
        <ColGroup>
            @*<col style="width: 100px;" />*@
            <col style="width: 350px;" />
            <col />
            <col style="width: 50px;" />
            <col />
            <col style="width: 200px;" />
            <col style="width: 200px;" />
            <col style="width: 200px;" />
        </ColGroup>
        <HeaderContent>
            @*<MudTh><MudTableSortLabel SortBy="new Func<JobDto, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>*@
            <MudTh><MudTableSortLabel SortBy="new Func<JobDto, object>(x=>x.Name)">Název</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<JobDto, object>(x=>x.Description)">Popis</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<JobDto, object>(x=>x.State)">Stav</MudTableSortLabel></MudTh>
            <MudTh>Ovládání</MudTh>
            <MudTh>Příští spuštění</MudTh>
            <MudTh>Předchozí spuštění</MudTh>
            <MudTh>Vytvořeno</MudTh>
            <MudTh>Více možností</MudTh>
        </HeaderContent>
        <RowTemplate>
            @*<MudTd DataLabel="Id">@context.Id</MudTd>*@
            <MudTd DataLabel="Name">
                <MudTooltip Text="@context.Name">@FormatString(context.Name, 50)</MudTooltip>
            </MudTd>
            <MudTd DataLabel="Description">
                <MudTooltip Text="@context.Description">@FormatString(context.Description, 250)</MudTooltip>
            </MudTd>
            <MudTd DataLabel="State">
                <MudTooltip Text="@FormatJobStateHint(context.State)">@FormatJobState(context.State)</MudTooltip>
            </MudTd>
            <MudTd>
                @if (IsValid(context.State))
                {
                    @if(IsRunning(context.State))
                    {
                        <MudButton Color="Color.Error" OnClick="@(async () => await OnStopJobAsync(context))" Variant="Variant.Filled">Zastavit</MudButton>
                    }
                    else if(IsActive(context.State))
                    {
                        <MudButton Color="Color.Success" OnClick="@(async () => await OnStartJobAsync(context))" Variant="Variant.Filled">Spustit</MudButton>
                        <MudButton OnClick="@(async () => await OnDisableJobAsync(context))" Variant="Variant.Filled">Deaktivovat</MudButton>
                    }
                    else
                    {
                        <MudButton OnClick="@(async () => await OnEnableJobAsync(context))" Variant="Variant.Filled">Aktivovat</MudButton>
                    }
                }
            </MudTd>
            <MudTd DataLabel="NextFire">
                @if(IsValid(context.State) && IsActive(context.State))
                {
                    @FormatNextRun(context);
                }
             </MudTd>
            <MudTd DataLabel="LastFire">@FormatDate(context.LastRun)</MudTd>
            <MudTd DataLabel="Created">@FormatDate(context.Created)</MudTd>
            <MudTd>
                <MudTooltip Text="@GetEditJobTooltip(context.State)">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                        <MudMenuItem OnClick="@(() => UriHelper.NavigateTo($"logs/{@context.Id}", false, true))">Záznamy</MudMenuItem>
                        <MudMenuItem OnClick="@(async () => await OnOpenStatistics(context))">Statistika</MudMenuItem>
                        <MudMenuItem Disabled="!CanEditJob(context.State)" OnClick="@(() => UriHelper.NavigateTo($"job/{@context.Id}", false, true))">Upravit</MudMenuItem>
                        <MudMenuItem Disabled="!CanEditJob(context.State)" OnClick="@(async () => await OnDeleteItemAsync(context))" Class="text-error">Smazat</MudMenuItem>
                    </MudMenu>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            @if (_jobs.Count() > _rowsLimit)
            {
                <MudTablePager DisableRowsPerPage="true"/>            
            }
        </PagerContent>
    </MudTable>
    <MudDivider />
    <MudToolBar>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="OnAddJob">Nová úloha</MudButton>
        <MudSpacer />
        <MudButton Class="mr-4" Variant="Variant.Filled" OnClick="LoadJobsAsync">Refresh</MudButton>
    </MudToolBar>

</MudPaper>

@code {
    private static string PageTitle = "Úlohy";

    private MudTable<JobDto> _mudTable;
    private IEnumerable<JobDto> _jobs = new JobDto[0];

    private int _rowsLimit = 25;
    private string _searchString = "";
    private bool _isLoading = false;

    [Parameter]
    public string JobId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

        await LoadJobsAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _searchString = JobId;
        }

        base.OnAfterRender(firstRender);
    }

    private async Task LoadJobsAsync()
    {
        _isLoading = true;
        StateHasChanged();

        var result = await JobService.GetAll().TryInvoke();
        if (result.Success)
        {
            _jobs = result.Result;
        }
        else
        {
            Snackbar.Add("Nepodařilo se načíst úlohy!", Severity.Error);
        }

        _isLoading = false;
        StateHasChanged();
    }


    private async Task OnDeleteItemAsync(JobDto item)
    {
        Logger.LogDebug("Smazání vybraného objektu");

        if (item is null)
            return;

        var message = $"Opravdu chcete vymazat úlohu s názvem '{item.Name}'? Tuto akci není možné vrátit.";
        var dialog = DialogService.ShowYesNoDialog("Smazání úlohy", message, Color.Error, Icons.Material.Filled.Delete);

        var dialogResult = await dialog.Result;
        if (dialogResult.Cancelled)
        {
            Logger.LogDebug($"Smazání objektu zrušeno");
            return;
        }

        Logger.LogDebug($"Mažu objektu {item}");

        var result = await JobService.Delete(item.Id).TryInvoke();
        if (result)
        {
            Logger.LogDebug($"Objekt smazán {item}");
            await LoadJobsAsync();
        }
        else
        {
            Logger.LogDebug($"Objekt se nepodařilo smazat {item}");
            Snackbar.Add("Nepodařilo se vymazat úlohu!", Severity.Error);
        }
    }

    private void OnAddJob()
    {
        UriHelper.NavigateTo($"job", false, true);
    }

    private async Task OnStartJobAsync(JobDto job)
    {
        var result = await JobService.StartJob(job.Id).TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se spustit úlohu!", Severity.Error);
            return;
        }

        await Task.Delay(500);
        await LoadJobsAsync();
    }

    private async Task OnStopJobAsync(JobDto job)
    {
        var result = await JobService.StopJob(job.Id).TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se zastavit úlohu!", Severity.Error);
            return;
        }

        await Task.Delay(500);
        await LoadJobsAsync();
    }

    private async Task OnEnableJobAsync(JobDto job)
    {
        var result = await JobService.EnableJob(job.Id).TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se zapnout úlohu!", Severity.Error);
            return;
        }

        await Task.Delay(500);
        await LoadJobsAsync();
    }

    private async Task OnDisableJobAsync(JobDto job)
    {
        var result = await JobService.DisableJob(job.Id).TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se vypnout úlohu!", Severity.Error);
            return;
        }

        await Task.Delay(500);
        await LoadJobsAsync();
    }

    private async Task OnOpenStatistics(JobDto job)
    {
        var dialog = DialogService.ShowStatisticsDialog(job.Id);
        await dialog.Result;
    }

    private bool FilterFunc(JobDto job)
    {
        if (string.IsNullOrEmpty(_searchString))
            return true;

        var searchValues = _searchString
            .Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
            .Select(val => val.Trim())
            .ToArray();

        if (searchValues.Length == 0)
            return false;

        return FilterFunc(job, searchValues);
    }

    private static bool FilterFunc(JobDto job, string[] searchValues)
    {
        if (searchValues is null)
            return true;

        return searchValues.Any(val => FilterFunc(job, val));
    }

    private static bool FilterFunc(JobDto job, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (job.Id?.ToString().Contains(searchString) ?? false)
            return true;

        if (job.Name?.Contains(searchString) ?? false)
            return true;

        if (job.Description?.Contains(searchString) ?? false)
            return true;

        if (job.State.ToString().Contains(searchString))
            return true;

        return false;
    }

    private static string FormatJobState(JobState state)
    {
        var formatedState = state switch
        {
            JobState.Disabled => "Vypnuto",
            JobState.Enabled => "Aktivní",
            JobState.Running => "Spuštěno",
            JobState.Waiting => "Připraveno",
            _ => "Chybné"
        };

        return formatedState;
    }

    private static string FormatJobStateHint(JobState state)
    {
        var formatedState = state switch
        {
            JobState.Disabled => "Úloha není aktivní",
            JobState.Enabled => "Úloha je aktivní, ale nemá naplánováno automatické spuštění",
            JobState.Running => "Úloha běží",
            JobState.Waiting => "Úloha je naplánovaná a čeká na spuštění",
            _ => "Úloha je v nevalidním stavu"
        };

        return formatedState;
    }

    private static string FormatNextRun(JobDto job)
    {
        if (job.Triggers is null || job.Triggers.Length == 0)
            return "";

        var dateTimeNow = DateTime.Now;

        var closestFire = job.Triggers
            .Select(trg =>
            {
                CronUtils.TryGetCrontabNextOccurrence(trg.Settings, dateTimeNow, out var nextFire);
                return nextFire;
            })
            .Where(fre => fre is not null)
            .Min();

        return FormatDate(closestFire);
    }

    private static string FormatDate(DateTime? dateTime)
    {
        return dateTime?.ToString(CultureInfo.CurrentCulture) ?? "";
    }

    private static string FormatString(string text, int maxLenght)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLenght)
            return text;

        return text.Substring(0, maxLenght) + "...";
    }

    private static bool IsValid(JobState state)
    {
        return state != JobState.Invalid;
    }

    private static bool IsActive(JobState state)
    {
        return state == JobState.Enabled || state == JobState.Running || state == JobState.Waiting;
    }

    private static bool IsRunning(JobState state)
    {
        return state == JobState.Running;
    }

    private static bool CanEditJob(JobState state)
    {
        return IsValid(state) && !IsActive(state);
    }

    private static string GetEditJobTooltip(JobState state)
    {
        return CanEditJob(state) ? "" : "Před úpravou je potřeba vypnout úlohu!";
    }

}
