﻿@page "/logs"
@page "/logs/{JobId}"

@using DMTGui.Client.Dialogs
@using DMTGui.Client.Extensions
@using DMTGui.Client.Models
@using DMTGui.Client.Services.Api
@using DMTGui.Shared.Models;
@using System.Globalization
@using DMTGui.Shared.Contracts

@inject ISnackbar Snackbar
@inject ILogger<Logs> Logger
@inject IDialogService DialogService
@inject ILocalStorage LocalStorage

@inject ILogContract LogService
@inject DataTableService DataTableService
@inject ClipboardService ClipboardService
@inject SaveFileService SaveFileService

<PageTitle>@PageTitle</PageTitle>

<MudPaper Elevation="25" Class="my-5 mx-5">

    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
        <MudTooltip Text="Filtrovat tabulku">
            <MudIconButton Icon="@GetFilterIcon()" OnClick="@OnClickFilter" />
        </MudTooltip>
        <MudTooltip Text="Více možností">
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                <MudMenuItem OnClick="@SaveFilter">Uložit aktuální filter</MudMenuItem>
                <MudMenuItem OnClick="@SelectFilter">Vybrat uložený filter</MudMenuItem>
                <MudMenuItem OnClick="@ExportDataToClipboard">Exportovat tabulku do schránky</MudMenuItem>
                <MudMenuItem OnClick="@ExportDataToCsv">Exportovat tabulku do csv</MudMenuItem>
                @*<MudMenuItem OnClick="@ExportDataToExcel">Exportovat do excelu</MudMenuItem>*@
            </MudMenu>
        </MudTooltip>
    </MudToolBar>

    <MudCard Elevation="0" Class="py-5 px-5" hidden=@_isFilterHidden>
        <MudCardContent Class="pa-0">
            <MudGrid>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem xs="2">
                            <MudTextField Label="Od datumu" HelperText="" @bind-Value="_searchModel.FromDate" For="@(() => _searchModel.FromDate)" Format="yyyy-MM-dd" InputType="InputType.Date" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField Label="Do datumu" HelperText="" @bind-Value="_searchModel.ToDate" For="@(() => _searchModel.ToDate)" Format="yyyy-MM-dd" InputType="InputType.Date" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField @ref="@_jobIdField" Label="ID úlohy" HelperText="" @bind-Value="_searchModel.JobId" For="@(() => _searchModel.JobId)" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField Label="ID objektu" HelperText="" @bind-Value="_searchModel.ObjectId" For="@(() => _searchModel.ObjectId)" Clearable="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect T="string" Label="Úroveň chyby" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="_searchModel.LogLevels" Clearable="true">
                                @foreach (var level in levels)
                                {
                                    <MudSelectItem T="string" Value="@level">@level</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect Label="Stav migrace" T="string" MultiSelection="false" @bind-Value="_searchModel.MigrationRecordState" Clearable="true">
                                @foreach (var state in states)
                                {
                                    <MudSelectItem T="string" Value="@state">@state</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem xs="3">
                            <MudTextField Label="Název profilu" HelperText="" @bind-Value="_searchModel.ProfileName" For="@(() => _searchModel.ProfileName)" Clearable="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField Label="Kontext" HelperText="" @bind-Value="_searchModel.Context" For="@(() => _searchModel.Context)" Clearable="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField Label="Zpráva" HelperText="" @bind-Value="_searchModel.Message" For="@(() => _searchModel.Message)" Clearable="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField Label="Chyba" HelperText="" @bind-Value="_searchModel.Exception" For="@(() => _searchModel.Exception)" Clearable="true" />
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await SearchAsync())">Hledej</MudButton>
        </MudCardActions>
    </MudCard>

    <MudTable @ref="_table"
              ServerData="ServerReload"
              Virtualize="_isVirtualTable"
              Hover="true"
              Striped="true"
              Bordered="false"
              Elevation="0"
              SortLabel="Sort By"
              RowsPerPage="@_rowsPerPage"
              Dense="true"
              Height="@GetTableHeight(_isFilterHidden, "70vh", "60vh")"
              FixedHeader="true"
              FixedFooter="true">
        <ColGroup>
            <col style="width: 10%;" />
            <col style="width: 5%;" />
            <col style="width: 15%;" />
            <col />
            <col style="width: 10%;" />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortLabel="@nameof(LogSearchSortColumn.Date)" T="LogDto">Datum</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="@nameof(LogSearchSortColumn.Level)" T="LogDto">Úroveň</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="@nameof(LogSearchSortColumn.ObjectId)" T="LogDto">ID objektu</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="@nameof(LogSearchSortColumn.Message)" T="LogDto">Zpráva</MudTableSortLabel></MudTh>
            <MudTh>Více možností</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.Date</MudTd>
            <MudTd DataLabel="Level">@context.Level</MudTd>
            <MudTd DataLabel="ObjectId">@context.ObjectId</MudTd>
            <MudTd DataLabel="Message">
                <MudTooltip Text="@context.Message">
                    @FormatSubstring(@context.Message, 300)
                </MudTooltip>
            </MudTd>
            @*<MudTd DataLabel="Exception">@context.Exception</MudTd>*@
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem OnClick="@(() => OnDisplayLogDetail(@context))">Detail</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Nebyly nalezeny žádné záznamy :(</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Načítám...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager DisableRowsPerPage="false" PageSizeOptions="@_posiblePageSizes" />
        </PagerContent>
    </MudTable>

</MudPaper>

@code {
    public readonly string PageTitle = "Záznamy z migrací";

    private bool _isFilterHidden = false;

    private int _rowsPerPage = 500;
    private bool _isVirtualTable = true;
    private int[] _posiblePageSizes = new int[] { 50, 100, 500, 1_000, 2_000, 5_000 };

    private LogSearchDto _searchModel = new LogSearchDto();
    private MudTable<LogDto> _table;
    private MudTextField<string> _jobIdField;

    [Parameter]
    public string JobId { get; set; }

    private IEnumerable<string> levels = new string[0];

    private IEnumerable<string> states = new string[0];

    private string value { get; set; } = "Nothing selected";

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(JobId))
        {
            _searchModel.JobId = JobId;
        }

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            var result = await RefreshAsync().TryInvoke();
            if (!result)
            {
                Snackbar.Add("Nepodařilo načíst stavy záznamů!", Severity.Error);
            }

            StateHasChanged();
        }

        base.OnAfterRender(firstRender);
    }

    private async Task RefreshAsync()
    {
        levels = await LogService.GetLogLevels();
        states = await LogService.GetMigrationStates();
    }

    private void OnDisplayLogDetail(LogDto log)
    {
        DialogService.ShowModelDetailDialog<LogDto>("Detail záznamu", log);
    }

    private string GetFilterIcon()
    {
        return _isFilterHidden ? Icons.Material.Filled.FilterAlt : Icons.Material.Filled.FilterAltOff;
    }

    private void OnClickFilter()
    {
        _isFilterHidden = !_isFilterHidden;
    }

    private async Task SearchAsync()
    {
        var result = await _table.ReloadServerData().TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se vyhledat záznamy!", Severity.Error);
            return;
        }
    }

    private async Task<TableData<LogDto>> ServerReload(TableState state)
    {
        _searchModel.Skip = state.Page * state.PageSize;
        _searchModel.Take = state.PageSize;

        if (state.SortDirection != SortDirection.None && Enum.TryParse<LogSearchSortColumn>(state.SortLabel, out var sortColumn))
        {
            _searchModel.IsSortAscending = state.SortDirection == SortDirection.Ascending;
            _searchModel.SortColumn = sortColumn;
        }
        else
        {
            _searchModel.SortColumn = LogSearchSortColumn.None;
            _searchModel.IsSortAscending = false;
        }

        var totalItems = await LogService.GetLogsCount(_searchModel);
        var logs = await LogService.GetLogs(_searchModel);

        return new TableData<LogDto>() { TotalItems = totalItems, Items = logs };
    }

    private async Task SaveFilter()
    {
        Logger.LogDebug("Vyvolán dialog ukládání filtru");

        var dialog = DialogService.ShowTextDialog("Pojmenování filtru", "Zadejte název filtru");
        var result = await dialog.Result;

        var name = result.Data as string;
        if (result.Cancelled || string.IsNullOrEmpty(name))
            return;

        Logger.LogDebug($"Ukládám vybraný filter po názvem {name}");

        var filterData = await LocalStorage.GetValueAsync<LogsFilterData>(SelectFilterDialog.LogsFilterDataName, new());

        var newEntry = new LogFilterEntry
        {
            Name = name,
            Search = _searchModel
        };

        filterData.Entries = filterData.Entries.Append(newEntry).ToArray();
        await LocalStorage.SetValueAsync<LogsFilterData>(SelectFilterDialog.LogsFilterDataName, filterData);

        Logger.LogDebug("Filter uložen");
    }

    private async Task SelectFilter()
    {
        Logger.LogDebug("Vyvolán dialog výběru filtru");

        var dialog = DialogService.ShowFilterDialog();
        var result = await dialog.Result;

        if (result.Cancelled || result.Data is not LogFilterEntry entry)
        {
            Logger.LogDebug("Výběr zrušen, nebo nebyla vybrána validní hodnota");
            return;
        }

        _searchModel = entry.Search;
        Logger.LogDebug("Nastavuji filtr");
    }

    private async Task ExportDataToClipboard()
    {
        _searchModel.Skip = null;
        _searchModel.Take = null;

        var result = await LogService.GetLogs(_searchModel).TryInvoke();
        if (!result.Success)
        {
            Snackbar.Add("Nepodařilo exportovat data!", Severity.Error);
            return;
        }

        var logs = result.Result;
        var logsAsText = await DataTableService.ExportToStringAsync<LogDto>(logs);

        await ClipboardService.CopyTextToClipboardAsync(logsAsText);

        Snackbar.Add("Záznamy byly uložené do schránky!", Severity.Success);
    }

    private async Task ExportDataToCsv()
    {
        _searchModel.Skip = null;
        _searchModel.Take = null;

        var result = await LogService.GetLogs(_searchModel).TryInvoke();
        if (!result.Success)
        {
            Snackbar.Add("Nepodařilo exportovat data!", Severity.Error);
            return;
        }

        var logs = result.Result;
        var bytes = await DataTableService.ExportToCsvAsync<LogDto>(logs);

        var fileName = $"export_{DateTime.Now:yyyyMMdd}.csv";

        await SaveFileService.SaveAsAsync(fileName, bytes);

        Snackbar.Add("Záznamy byly stažené!", Severity.Success);
    }

    //private async Task ExportDataToExcel()
    //{
    //    _searchModel.Skip = null;
    //    _searchModel.Take = null;

    //    var logs = await LogService.GetLogs(null);
    //    var bytes = await DataTableService.ExportToExcelAsync<LogDto>(logs);

    //    var fileName = $"export_{DateTime.Now:yyyyMMdd}.xlsx";

    //    await SaveFileService.SaveAsAsync(fileName, bytes);

    //    Snackbar.Add("Záznamy byly stažené!", Severity.Success);
    //}

    private static string FormatSubstring(string text, int limit)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= limit)
            return text;

        return $"{text.Substring(0, limit)}...";
    }

    private static string GetTableHeight(bool isFilterHidden, string first, string second)
    {
        return isFilterHidden ? first : second;
    }
}
