﻿@page "/NotFound"

<PageTitle>@PageTitle</PageTitle>

<MudPaper Class="d-flex flex-column align-center justify-center flex-wrap flex-grow-1 gap-4" Height="80vh" Elevation="0">

    <MudPaper Elevation="0" Class="d-flex align-center gap-0">
        <MudText Style="font-size: 10em;" Color="Color.Primary">4</MudText>
        <MudIcon Style="font-size: 10em;" Color="Color.Primary" Icon="@Icons.Material.Filled.SentimentDissatisfied" />
        <MudText Style="font-size: 10em;" Color="Color.Primary">4</MudText>
    </MudPaper>
    @*<MudIcon Icon="@Icons.Material.Filled.SentimentDissatisfied" Color="Color.Primary" Style="font-size: 25vh;" />*@
    <MudText Style="font-size: 8em;" Color="Color.Primary">@PageTitle</MudText>
</MudPaper>

@code {
    public const string PageTitle = "Stránka nenalezena";

}
