﻿@page "/profiles"

@using DMTGui.Client.Services
@using DMTGui.Client.Dialogs
@using DMTGui.Client.Services.Api
@using DMTGui.Shared.Models
@using System.Globalization
@using System.Text
@using DMTGui.Client.Extensions
@using DMTGui.Shared.Contracts

@inject ILogger<Profiles> Logger
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager UriHelper
@inject SaveFileService SaveFileService

@inject IProfileContract ProfileService

<InputFile id="profileInput" OnChange="OnUploadProfileAsync" hidden accept=".xml" />

<PageTitle>@PageTitle</PageTitle>

<MudPaper Elevation="25" Class="my-5 mx-5">

    <MudToolBar Class="py-10">
        <MudText Typo="Typo.h3">@PageTitle</MudText>
        <MudSpacer />
        <MudTooltip Text="Vyplňte text, který chcete v tabulce najít. Pomocí čárky je možné vyhledat více hodnot.">
            <MudTextField @bind-Value="_searchString" Placeholder="Hledej..." Adornment="Adornment.Start" Clearable="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </MudTooltip>
    </MudToolBar>

    <MudTable @ref="_mudTable"
              Items="_profiles"
              Hover="true"
              Striped="true"
              Bordered="false"
              Elevation="0"
              RowsPerPage="@_rowsLimit"
              SortLabel="Sort By"
              Loading="@_isLoading"
              Filter="new Func<ProfileDto,bool>(FilterFunc)"
              MultiSelection="false"
              ReadOnly="_isReadOnly"
              CommitEditTooltip="Uložit"
              CancelEditTooltip="Zrušit"
              OnCommitEditClick="SetReadOnly"
              OnCancelEditClick="SetReadOnly"
              RowEditCommit="@(async (args) => await OnCommitEditItemAsync(args))"
              RowEditCancel="OnCancelEditItem"
              CanCancelEdit="true"
              IsEditRowSwitchingBlocked="true"
              Dense="true"
              Height="70vh"
              FixedHeader="true"
              FixedFooter="true">
        <ColGroup>
            <col style="width: 350px;" />
            <col />
            <col style="width: 150px;" />
            <col style="width: 100px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<ProfileDto, object>(x=>x.Name)">Název</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ProfileDto, object>((prf) => prf.JobName ?? string.Empty)">Úloha</MudTableSortLabel></MudTh>
            <MudTh>Více možností</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Název">@context.Name</MudTd>
            <MudTd DataLabel="Úlohy">
                @if(HasJobLink(context))
                {
                    <MudLink Href="@GetLinkToJob(@context)">@context.JobName</MudLink>
                }
                else
                {
                    @context.JobName
                }
            </MudTd>
            <MudTd>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem OnClick="@(() => UriHelper.NavigateTo($"editor/{@context.Id}", false, true))">Upravit</MudMenuItem>
                    <MudMenuItem OnClick="@(() => OnEditSelectedItem(context))">Přejmenovat</MudMenuItem>
                    <MudMenuItem OnClick="@(async () => await OnDownloadProfile(context.Id))">Stáhnout</MudMenuItem>
                    <MudMenuItem OnClick="@(async () => await OnDeleteItemAsync(context))" Class="text-error">Smazat</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="Název">
                <MudTextField @bind-Value="@context.Name" Required="true" />
            </MudTd>
            <MudTd DataLabel="Úlohy">@GetJobs(context)</MudTd>
            <MudTd><MudMenu Icon="@Icons.Material.Filled.MoreVert" Disabled="true" /></MudTd>
        </RowEditingTemplate>
        <PagerContent>
            @if (_profiles.Count() > _rowsLimit)
            {
                <MudTablePager DisableRowsPerPage="true"/>            
            }
        </PagerContent>
    </MudTable>
    <MudDivider />
    <MudToolBar>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" HtmlTag="label" for="profileInput">Nahrát profil z disku</MudButton>
        <MudButton Class="mr-4" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" OnClick="@(async (args)=>await OnAddProfil(args))">Nový profil</MudButton>
    </MudToolBar>
</MudPaper>

@code {
    public readonly string PageTitle = "Migrační profily";

    private IEnumerable<ProfileDto> _profiles = new ProfileDto[0];
    private bool _isLoading = false;
    private int _rowsLimit = 25;

    private string _searchString;

    private ProfileDto _itemBeforeEdit;

    private bool _isReadOnly = true;

    private MudTable<ProfileDto> _mudTable;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

        await ReloadProfilesAsync();
    }

    private async Task ReloadProfilesAsync()
    {
        _isLoading = true;
        StateHasChanged();

        var result = await ProfileService.GetAll().TryInvoke();
        if (result.Success)
        {
            _profiles = result.Result;   
        }
        else
        {
            Snackbar.Add("Nepořadilo se načíst profily!", Severity.Error);
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task OnDeleteItemAsync(ProfileDto item)
    {
        Logger.LogDebug("Smazání vybraného objektu");

        if (item is null)
            return;

        var message = $"Opravdu chcete vymazat profil s názvem '{item.Name}'? Tuto akci není možné vrátit.";
        var dialog = DialogService.ShowYesNoDialog("Smazání profilu", message, Color.Error, Icons.Material.Filled.Delete);

        var dialogResult = await dialog.Result;
        if (dialogResult.Cancelled)
        {
            Logger.LogDebug($"Smazání objektu zrušeno");
            return;
        }

        Logger.LogDebug($"Mažu objektu {item}");

        var result = await ProfileService.Delete(item.Id).TryInvoke();
        if (result)
        {
            await ReloadProfilesAsync();
        }
        else
        {
            Snackbar.Add("Nepořadilo se načíst profily!", Severity.Error);
        }
    }

    private void OnEditSelectedItem(ProfileDto item)
    {
        Logger.LogDebug("Vybrání objektu k editaci");

        if (_mudTable is null)
            return;

        _itemBeforeEdit = new ProfileDto();
        _itemBeforeEdit.SetProfile(item);

        _isReadOnly = false;
        _mudTable.SetEditingItem(item);
    }

    private void SetReadOnly()
    {
        Logger.LogDebug("Nastavení readonly režimu tabulce");

        _isReadOnly = true;
    }

    private void OnCancelEditItem(object item)
    {
        Logger.LogDebug("Reset vybraného objektu k editaci");

        if (item is ProfileDto resetProfile && _itemBeforeEdit is not null)
        {
            resetProfile.SetProfile(_itemBeforeEdit);
            _itemBeforeEdit = null;
        }
    }

    private async Task OnCommitEditItemAsync(object item)
    {
        Logger.LogDebug("Uložení editovaného objektu");

        if (item is not ProfileDto profile)
            return;

        Logger.LogDebug($"Ukládám {profile}");

        var result = await ProfileService.Update(profile.Id, profile).TryInvoke();
        if (!result)
        {
            Snackbar.Add("Nepodařilo se uložit nový název profilu!", Severity.Error);
        }
    }

    private async Task<bool> OnSubmitProfileNameAsync(string profileName)
    {
        return await OnSubmitProfileAsync(profileName, null);
    }

    private async Task<bool> OnSubmitProfileAsync(string profileName, string profileData)
    {
        var addedProfile = new ProfileDto() { Name = profileName, Data = profileData };

        var result = await ProfileService.Add(addedProfile).TryInvoke();
        if (!result.Success)
        {
            Snackbar.Add($"Nepodařilo se vytvořit nový profil {profileName}!", Severity.Error);
            return false;
        }

        Logger.LogDebug($"Podařilo se vytvořit nový profil {result.Result}");

        return true;
    }

    private async Task OnAddProfil(MouseEventArgs args)
    {
        Logger.LogDebug("Vytvoření nového profilu");

        var dialog = DialogService.ShowTextDialog("Vytvoření profilu", "Prosím zadejte název nového profilu:", "", OnSubmitProfileNameAsync, ValidateProfileName);

        var result = await dialog.Result;
        if (result.Cancelled || string.IsNullOrEmpty((string)result.Data))
        {
            Logger.LogDebug($"Přidání objektu zrušeno");
            return;
        }

        var addedProfileName = (string)result.Data;

        Snackbar.Add($"Přidán nový profil '{addedProfileName}'", Severity.Success);

        await ReloadProfilesAsync();
    }

    private async Task OnDownloadProfile(string profileId)
    {
        Logger.LogDebug($"Stahuji profil {profileId}");

        // Profile je potřeba stáhnout, protože zobrazovaná data 
        // neobsahují obsah profilu, ale jen informace o něm
        var result = await ProfileService.Get(profileId).TryInvoke();
        if(!result.Success)
        {
            Snackbar.Add("Nepodařilo se stáhnout profil!", Severity.Error);
            return;
        }

        var filename = $"{result.Result.Name}.xml";
        var file = result.Result.Data;

        await SaveFileService.SaveAsAsync(filename, file);
    }

    private string ValidateProfileName(string profileName)
    {
        if (string.IsNullOrEmpty(profileName))
        {
            return "Jméno profilu je nutné vyplnit!";
        }

        var nameExists = _profiles.Any(prf => prf.Name == profileName);
        if (nameExists)
        {
            return "Profil s tímto jménem již existuje.";
        }

        return null;
    }

    private async Task OnUploadProfileAsync(InputFileChangeEventArgs args)
    {
        var file = args.File;
        if (file is null)
            return;

        Logger.LogDebug($"Nahrání objektu z disku");

        var profileName = Path.GetFileNameWithoutExtension(file.Name);
        var profileData = await file.ReadTextAsync();

        Logger.LogDebug($"Načten profil: {profileData}");

        var uploadFile = new Func<string, Task<bool>>(async (name) => await OnSubmitProfileAsync(name, profileData));
        var dialog = DialogService.ShowTextDialog("Nahrání profilu z disku", "Prosím zadejte název nového profilu:", profileName, uploadFile, ValidateProfileName);

        var result = await dialog.Result;
        if (!result.Cancelled && !string.IsNullOrEmpty((string)result.Data))
        {
            var addedProfileName = (string)result.Data;

            Snackbar.Add($"Podařilo se uložit profil '{addedProfileName}'", Severity.Success);

            await ReloadProfilesAsync();
        }
        else
        {
            Logger.LogDebug($"Přidání objektu zrušeno");
        }
    }

    private Func<ProfileDto, object> SortByJob()
    {
        return new Func<ProfileDto, object>((prf) => prf.JobName);
    }

    private string GetJobs(ProfileDto profile)
    {
        return profile.JobName;
    }

    private bool FilterFunc(ProfileDto profile)
    {
        if (profile is null)
            return false;

        if (string.IsNullOrEmpty(_searchString))
            return true;

        var searchValues = _searchString
            .Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries)
            .Select(val => val.Trim())
            .ToArray();

        if (searchValues.Length == 0)
            return false;

        return FilterFunc(profile, searchValues);
    }

    private bool FilterFunc(ProfileDto profile, string[] searchValues)
    {
        if (searchValues is null)
            return true;

        return searchValues.Any(val => FilterFunc(profile, val));
    }

    private bool FilterFunc(ProfileDto profile, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (profile.Id?.ToString().Contains(searchString) ?? false)
            return true;

        if (profile.Name?.Contains(searchString) ?? false)
            return true;

        if (profile.JobName?.Contains(searchString) ?? false)
            return true;

        return false;
    }

    private string ConvertToString(object valueToConvert)
    {
        var currentCulture = CultureInfo.CurrentCulture;

        var type = typeof(string);

        return (string)Convert.ChangeType(valueToConvert, type);
    }

    private static bool HasJobLink(ProfileDto profile)
    {
        return !string.IsNullOrEmpty(profile.JobId);
    }

    private static string GetLinkToJob(ProfileDto profile)
    {
        return $"jobs/{profile.JobId}";
    }
}
