﻿@page "/editor"
@page "/editor/{ProfileId}"

@using DMTGui.Client.Extensions
@using DMTGui.Client.Models
@using DMTGui.Client.MonacoOperations
@using DMTGui.Client.Services.Api
@using DMTGui.Client.Validators.ValidatorActions
@using DMTGui.Shared.Contracts
@using Radzen.Blazor
@using DMTGui.Client.Dialogs

@inject ILogger<ProfileEditor> Logger
@inject ILocalStorage LocalStorage
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@inject IProfileContract ProfileService
@inject IDictionaryContract DictionaryService

@inject ProfileValidatorService ProfileValidatorService

<MudPaper Elevation="25" Height="100%">
    <MudToolBar>
        @if(_profile is not null)
        {
            <MudTooltip Text="Uložit">
                <MudIconButton OnClick="OnSaveAsync" Icon="@Icons.Filled.Save" Class="mr-4 px-4" Color="Color.Primary" Variant="Variant.Filled" />   
            </MudTooltip>
        }
        <MudTooltip Text="Uložit jako">
            <MudIconButton OnClick="OnSaveAsAsync" Icon="@Icons.Filled.SaveAs" Class="mr-12 px-4" Color="Color.Secondary" Variant="Variant.Filled" />
        </MudTooltip>

        @*<MudIconButton Icon="@Icons.Filled.PlayArrow" Class="mr-4 px-4" Color="Color.Success" Variant="Variant.Filled" />*@
        @*<MudIconButton Icon="@Icons.Filled.BugReport" Class="mr-4 px-4" Color="Color.Default" Variant="Variant.Filled" />*@
        <MudSpacer />
        @*<MudIconButton Class="mr-4" Color="Color.Default" Icon="@Icons.Filled.MoreVert" />*@
         <MudMenu Class="mr-4" Icon="@Icons.Material.Filled.MoreVert">
            <MudMenuItemCheckable OnClick="@(() => { _isLayoutHorizontal = true; ResetSettingsTimer(); })"  Text="Horizontální layout" IsChecked="_isLayoutHorizontal" />
            <MudMenuItemCheckable OnClick="@(() => { _isLayoutHorizontal = false; ResetSettingsTimer(); })" Text="Vertikální layout"   IsChecked="!_isLayoutHorizontal" />
         </MudMenu>
    </MudToolBar>
    <MudDivider />
    @*Collapse=@OnCollapse Expand=@OnExpand*@

    @*Style="height: 1000px"*@
    <RadzenSplitter Style="height: 90%" Orientation="Radzen.Orientation.Vertical" Resize="ResetSettingsTimer" Expand="ResetSettingsTimer" Collapse="ResetSettingsTimer">
        <RadzenSplitterPane Size="60%" Collapsible="false">
            <RadzenSplitter Orientation="Radzen.Orientation.Horizontal" Resize="ResetSettingsTimer" Expand="ResetSettingsTimer" Collapse="ResetSettingsTimer">
                <RadzenSplitterPane @ref="_elementsPane" Size="15%" Collapsible="true">
                    <MudTabs Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6">
                        <MudTabPanel Text="Elementy">
                            <MudTable T="ElementInfo" OnRowClick="OnElementInfoClickAsync" Items="@_elementsInfo" Hover="true" Dense="true" Elevation="0" Striped="false">
                                <RowTemplate>
                                    <MudTd Style="@StyleElementInfo(context, 10)">@FormatElementInfo(context)</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudTabPanel>
                    </MudTabs>
                </RadzenSplitterPane>
                @*Collapsible="false"*@
                <RadzenSplitterPane @ref="_editorPane" Size="60%" Collapsible="false">
                    <MudTabs Rounded="false" ApplyEffectsToContainer="true" Class="size-full" PanelClass="pa-0 size-full">
                        <MudTabPanel Text="@_profileName" Style="100%">
                            <MonacoEditorExpanded @ref="@_monacoEditor" OnDidChangeModelContent="OnDidChangeModelContentEvent" />
                        </MudTabPanel>
                    </MudTabs>
                </RadzenSplitterPane>
                @if (_isLayoutHorizontal)
                {
                    <RadzenSplitterPane @ref="_outputPane" Size="15%" Collapsible="true">
                        <MudTabs Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Problémy">
                                <MudTable T="ValidatorWarning" OnRowClick="OnValidatorWarningClickAsync" Items="@_validatorWarnings" Hover="true" Dense="true" Elevation="0">
                                    <RowTemplate>
                                        <MudTd>@FormatValidatorWarning(context)</MudTd>
                                    </RowTemplate>
                                    <NoRecordsContent>
                                        Nic :)
                                    </NoRecordsContent>
                                </MudTable>
                            </MudTabPanel>
                            @*<MudTabPanel Text="Výstup" />*@
                        </MudTabs>
                    </RadzenSplitterPane>
                }

            </RadzenSplitter>
        </RadzenSplitterPane>
        @if (!_isLayoutHorizontal)
        {
             <RadzenSplitterPane @ref="_outputPane" Size="20%" Collapsible="true">
                <MudTabs Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Problémy">
                        <MudTable T="ValidatorWarning" OnRowClick="OnValidatorWarningClickAsync" Items="@_validatorWarnings" Hover="true" Dense="true" Elevation="0">
                            <RowTemplate>
                                <MudTd>@FormatValidatorWarning(context)</MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                Nic :)
                            </NoRecordsContent>
                        </MudTable>
                    </MudTabPanel>
                    @*<MudTabPanel Text="Výstup" />*@
                </MudTabs>
            </RadzenSplitterPane>   
        }
    </RadzenSplitter>
    <MudDivider />
</MudPaper>

@code {
    private RadzenSplitterPane _elementsPane;
    private RadzenSplitterPane _editorPane;
    private RadzenSplitterPane _outputPane;

    private Timer _settingsTimer;
    private Timer _checkErrorsTimer;

    private string _profileName = "Nový profil";
    private MonacoEditorExpanded _monacoEditor;

    private IEnumerable<ProfileDto> _profiles = new ProfileDto[0];
    private IEnumerable<ValidatorWarning> _validatorWarnings = new ValidatorWarning[0];
    private IEnumerable<ElementInfo> _elementsInfo = new ElementInfo[0];

    [Parameter]
    public string ProfileId { get; set; }

    private ProfileDto _profile { get; set; }

    private bool _isLayoutHorizontal { get; set; }

    public void Dispose()
    {
        _settingsTimer?.Dispose();
        _checkErrorsTimer?.Dispose();
    }

    private void OnDidChangeModelContentEvent(ModelContentChangedEvent modelContentChangedEvent)
    {
        ResetValidationTimer();
    }

    private async Task OnValidatorWarningClickAsync(TableRowClickEventArgs<ValidatorWarning> tableRowClickEventArgs)
    {
        await _monacoEditor.GoToWarningAsync(tableRowClickEventArgs.Item);
    }

    private async Task OnElementInfoClickAsync(TableRowClickEventArgs<ElementInfo> tableRowClickEventArgs)
    {
        await _monacoEditor.GoToLine(tableRowClickEventArgs.Item.Position.StartLineNumber);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await LoadSettingsAsync();

            _settingsTimer = new Timer(SettingsTimerTickAsync);
            ResetSettingsTimer();

            _checkErrorsTimer = new Timer(CheckProfileForErrors);
            ResetValidationTimer();

            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomEnd;

            //var processor = new MonacoOperationProcessor();
            //processor.AddOperation(new MonacoDivisionOperation());
            //processor.AddOperation(new MonacoGreaterThanOperation());
            //_monacoEditor.AddMonacoOperationProcessor(processor);

            await LoadProfileAsync();

            var dictionaries = await DictionaryService.GetAll();
            ProfileValidatorService.AddValidation(new DictionariesValidatorAction(dictionaries));
            ProfileValidatorService.AddValidation(new VariableValidatorAction());

            StateHasChanged();
        }
    }

    private async Task LoadProfileAsync()
    {
        var defaultProfile = await ProfileService.GetDefault();

        if (!string.IsNullOrEmpty(ProfileId))
        {
            var result = await ProfileService.Get(ProfileId).TryInvoke();
            if (result.Success && result.Result is not null)
            {
                _profile = result.Result;
                _profileName = _profile.Name;
                await _monacoEditor.SetValueAsync(_profile.Data ?? defaultProfile.Data);

                return;
            }

            DialogService.ShowOkDialog("Chyba načtení", $"Nepodařilo se načíst profil s id '{ProfileId}'.");
        }

        ProfileId = null;

        if (defaultProfile is null)
        {
            _profile = null;
            _profileName = "Nový profil";

            await _monacoEditor.SetValueAsync("");
            return;
        }

        _profile = defaultProfile;
        _profileName = defaultProfile.Name;

        await _monacoEditor.SetValueAsync(defaultProfile.Data);
    }

    private async Task OnSaveAsync()
    {
        if (_profile is null)
            throw new ArgumentNullException("Není vybraný žádný profil k uložení");

        Logger.LogDebug($"Ukládám migrační profil {_profile}");

        _profile.Data = await _monacoEditor.GetValueAsync();

        var result = await ProfileService.Update(_profile.Id, _profile).TryInvoke();
        if (!result)
        {
            Snackbar.Add($"Profil s názvem '{_profile.Name}' se nepodařilo uložit!", Severity.Error);
        }
        else
        {
            Snackbar.Add($"Profil s názvem '{_profile.Name}' uložen!", Severity.Success);
        }
    }

    private async Task OnSaveAsAsync()
    {
        Logger.LogDebug("Uložení nového profilu");

        _profiles = await ProfileService.GetAll();

        var dialog = DialogService.ShowTextDialog("Uložení profilu", $"Prosím zadejte název nového profilu:", onSubmitValidation: ValidateProfileName);

        var dialogResult = await dialog.Result;
        if (dialogResult.Cancelled || string.IsNullOrEmpty((string)dialogResult.Data))
        {
            Logger.LogDebug($"Uložení profilu zrušeno");
            return;
        }

        var newProfileName = (string)dialogResult.Data;

        var newProfile = new ProfileDto();
        newProfile.Name = newProfileName;
        newProfile.Data = await _monacoEditor.GetValueAsync();

        var result = await ProfileService.Add(newProfile).TryInvoke();
        if (result.Success)
        {
            _profileName = newProfileName;
            _profile = newProfile;

            Snackbar.Add($"Profil s názvem '{_profile.Name}' uložen!", Severity.Success);
            Logger.LogDebug($"Uložen nový profil '{newProfile}'");
        }
        else
        {
            Snackbar.Add($"Profil s názvem '{_profile.Name}' se nepodařilo uložit!", Severity.Error);
        }

        StateHasChanged();
    }

    private string ValidateProfileName(string profileName)
    {
        if (string.IsNullOrEmpty(profileName))
        {
            return "Jméno profilu je nutné vyplnit!";
        }

        var nameExists = _profiles.Any(prf => prf.Name == profileName);
        if (nameExists)
        {
            return "Profil s tímto jménem již existuje.";
        }

        return null;
    }

    private async Task LoadSettingsAsync()
    {
        var settings = await LocalStorage.GetValueAsync<EditorSettings>(nameof(EditorSettings));
        if (settings is null)
            return;

        _isLayoutHorizontal = settings.IsLayoutHorizontal;

        if (_elementsPane is not null)
        {
            _elementsPane.Collapsed = settings.ElementsPaneCollapsed;
        }

        if (_outputPane is not null)
        {
            _outputPane.Collapsed = settings.OutputPaneCollapsed;
        }

        StateHasChanged();
    }

    private async Task SaveSettingsAsync()
    {
        var settings = new EditorSettings();

        settings.IsLayoutHorizontal = _isLayoutHorizontal;

        if (_elementsPane is not null)
        {
            settings.ElementsPaneCollapsed = _elementsPane.Collapsed;
        }

        if (_outputPane is not null)
        {
            settings.OutputPaneCollapsed = _outputPane.Collapsed;
        }

        await LocalStorage.SetValueAsync(nameof(EditorSettings), settings);
    }

    private async void SettingsTimerTickAsync(object state)
    {
        await SaveSettingsAsync();
    }

    private void ResetSettingsTimer()
    {
        _settingsTimer.Change(TimeSpan.FromSeconds(2), Timeout.InfiniteTimeSpan);
    }

    private async void CheckProfileForErrors(object state)
    {
        Logger.LogDebug($"Provádím hledání chyb v editoru");

        var editorValue = await _monacoEditor.GetValueAsync();
        _validatorWarnings = ProfileValidatorService.ValidateProfile(editorValue);

        await _monacoEditor.ResetWarningsAsync();
        await _monacoEditor.AddWarningsAsync(_validatorWarnings);

        _elementsInfo = ProfileValidatorService.ExtractElementsByDepth(editorValue, 3, new[] { "Actions", "Variable" });

        StateHasChanged();
    }

    private void ResetValidationTimer()
    {
        _checkErrorsTimer.Change(TimeSpan.FromMilliseconds(1500), Timeout.InfiniteTimeSpan);
    }

    private static string FormatValidatorWarning(ValidatorWarning warning)
    {
        return $"{warning.Level} ({warning.Postition.StartLineNumber}, {warning.Postition.StartLinePosition}): {warning.Message}";
    }

    private static string StyleElementInfo(ElementInfo info, int pixelsCount)
    {
        return $"padding-left: {info.Depth * pixelsCount}px";
    }

    private static string FormatElementInfo(ElementInfo info)
    {        
        return $"<{info.Name}>";
    }

    private static string AddClass(bool shoudAddClass, string actualClass, string classToAdd)
    {
        if (shoudAddClass)
        {
            return $"{actualClass} {classToAdd}";
        }

        return actualClass;
    }
}
